{% import "macros/macro.all.html" as allMacros %}

<header class="header-main">
    <div class="wrapper wrapper--large">
        <a href="index.html" class="header-main__logo logo"><img src="assets/images/bgb-logo.svg" alt=""></a>
        <div class="header-main__content">
            <div class="header-main__content-top">

                {% include "./search.html" -%}
                <div class="inner-wrapper">
                    {% include "./languages.html" -%}
                    <div class="navigation-trigger js-navigation-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            {% include "./navigation.html" -%}
        </div>
    </div>
</header>
