{% import "macros/macro.all.html" as allMacros %}

<header class="header-main">
    <div class="wrapper">
        <div class="header-main__content">
            <div class="header-main__content-top">

                <a href="index.html" class="header-main__logo logo"><img src="assets/images/bgb-logo.svg" alt=""></a>
                <div class="navigations">
                    {% include "./search.html" -%}
                    {% include "./navigation.html" -%}
                </div>

                <div class="inner-wrapper">
                    {% include "./languages.html" -%}
                    <div class="navigation-trigger js-navigation-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
