<div class="search">
    <input type="text" placeholder="Шта желите да нађете у вашој библиотеци?" class="input">
    <div class="search__filters">
        <div class="radio_wrap">
            <input type="radio" id="r1" name="r1" class="styled-radiobutton" checked/>
            <label for="r1" class='radio'>
                <span></span>Веб
            </label>
        </div>
        <div class="radio_wrap">
            <input type="radio" id="r2" name="r1" class="styled-radiobutton js-radio-advanced"/>
            <label for="r2" class='radio'>
                <span></span>Каталог
            </label>
        </div>
        <a href="" class="search__advanced">Напредна претрага</a>
    </div>
</div>