<div class="search">
    <input type="text" placeholder="Шта желите да нађете у вашој библиотеци?" class="input">
    <div class="search__filters show-advance-link">
        <div class="radio_wrap">
            <input type="radio" id="r1" name="r1" class="styled-radiobutton" />
            <label for="r1" class='radio'>
                <span></span>Веб
            </label>
        </div>
        <div class="radio_wrap">
            <input type="radio" id="r2" name="r1" class="styled-radiobutton js-radio-advanced" checked/>
            <label for="r2" class='radio'>
                <span></span>Каталог
            </label>
        </div>
        <a href="https://opac.bisis.rs/search/advanced-search" class="search__advanced" target="_blank">Напредна претрага</a>
    </div>
</div>