<div class="home-slider slick-slider">
    <div class="home-slider__item">
        <div class="home-slider__item-content">
            <h2>Стручни скуп у Народној библиотеци у Краљеву</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, repudiandae. Recusandae dolorem perferendis itaque repudiandae repellat fuga debitis atque vel delectus, odit libero maiores maxime corporis soluta quo provident quos.</p>
        </div>
        <div class="home-slider__item-image" style="background-image: url('assets/images/slider-img1.jpg')">
        </div>
    </div>
    <div class="home-slider__item">
        <div class="home-slider__item-content">
            <h2>Стручни скуп у Народној библиотеци у Краљеву</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, repudiandae. Recusandae dolorem perferendis itaque repudiandae repellat fuga debitis atque vel delectus, odit libero maiores maxime corporis soluta quo provident quos.</p>
        </div>
        <div class="home-slider__item-image" style="background-image: url('assets/images/slider-img1.jpg')">
        </div>
    </div>
    <div class="home-slider__item">
        <div class="home-slider__item-content">
            <h2>Стручни скуп у Народној библиотеци у Краљеву</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, repudiandae. Recusandae dolorem perferendis itaque repudiandae repellat fuga debitis atque vel delectus, odit libero maiores maxime corporis soluta quo provident quos.</p>
        </div>
        <div class="home-slider__item-image" style="background-image: url('assets/images/slider-img1.jpg')">
        </div>
    </div>
</div>