.map-section {
    display: flex;
}

.map-container {
    padding-bottom: 45%;
    flex: 1;
    background: gray;
    position: relative;

    #map {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        .gm-style-iw {

            .gm-ui-hover-effect {
                top: 0 !important;
                right: 0 !important;
            }
        }
    
    }
}

.map-places {
    width: 300px;

    li {
        cursor: pointer;
        margin-bottom: 20px;
    }
}

.map-marker-info {
    padding: 20px;
    
    img {
        max-width: 100%;
    }

}