.memberships {
  margin-bottom: 20px;
  margin-top: 40px;

  @include min-screen($breakpoint-small) {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include min-screen($breakpoint-extralarge) {
    margin-bottom: 20px;
    margin-top: 40px;

  }
}

.memberships__item {
  flex: 0 0 16.66%;
  
  &:hover {
    .memberships__item-title {
      color: $color-peach;
    }
  }

  @include max-screen(1200px) {
    flex: 0 0 33.33%;

  }
}

.memberships__item-img {
  margin-bottom: 10px;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  @include min-screen($breakpoint-small) {
    max-width: 65%;
  }
}

.memberships__item-title {
  text-align: center;
  @include font-size(18px);
  
  @include max-screen($breakpoint-large - 1) {
    @include font-size(18px);
  }
}

.memberships__item-tooltip {
  width: 300px;

  @include min-screen($breakpoint-tiny) {
    width: 400px;
  }
  @include min-screen($breakpoint-small) {
    width: 400px;
  }
}
