.home-slider {
    .home-slider__item {
        display: flex;
    }
}


.home-slider__item-content {
    padding: 100px 50px;
    flex: 0 0 30%;
}

.home-slider__item-image {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}