

.search {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 15px;
    border: 1px solid $color-border;
    border-radius: 20px;
    order: 2;
    
    input {
        flex: 1;
        height: 58px;
        margin-bottom: 20px;
        font-size: 13px;

        @include min-screen($breakpoint-small) {
            font-size: 16px;
        }

        @include min-screen($breakpoint-medium) {
            margin-bottom: 0px;
            padding-right: 20px;
            border-right: 1px solid #000;
        }

        @include min-screen($breakpoint-large) {
            font-size: 24px;
        }
        
        @include screen($breakpoint-large, $breakpoint-extralarge) {
            margin-bottom: 20px;
            padding-right: 0;
            border-right: 0;
        }

        @include screen($breakpoint-extralarge, $breakpoint-huge) {
            font-size: 16px;
        }
    }
    
    .styled-radiobutton + label {
        font-size: 15px;

        @include max-screen($breakpoint-medium - 1) {
            font-size: 12px;
        }
    }
    
    .radio_wrap {
        margin-left: 10px;
        
        @include min-screen($breakpoint-medium) {
            margin-left: 20px;
        }

        &:first-child {
            @include max-screen($breakpoint-medium - 1) {
                margin-left: 0;
            }

            @include screen($breakpoint-large, $breakpoint-extralarge) {
                margin-left: 0;
            }
        }
    }
    
    @include min-screen($breakpoint-medium) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        .styled-radiobutton + label {
            font-size: 18px;
        }
    }

    @include min-screen($breakpoint-large) {
        padding: 10px 40px;
        order: 1;
    }

    @include screen($breakpoint-large, $breakpoint-extralarge) {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.search__advanced {
    font-size: 12px;
    margin-left: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease;
    color: $color-text;
    
    &:hover {
        color: $color-peach;
    }

    .show-advance-link & {
        visibility: visible;
        opacity: 1;
    }
    
    @include min-screen($breakpoint-medium) {
        font-size: 15px;
        margin-left: 20px;
    }
}

.search__filters {
    display: flex;
    flex-direction: row;
}
