.main-slider-wrapper {
    position: relative;
    @include min-screen($breakpoint-medium) {
    }

  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }

  .slick-next {
      left: auto;
      right: 30px;
  }
}

.main-slider {
    .main-slider__item {
        display: flex;
    }
}

.main-slider__item-content {
    padding: 100px 50px;
    flex: 0 0 30%;
    background-color: $color-peach;

    h2 {
        font-size: 40px;
        font-weight: 300;
    }
}

.main-slider__item-image {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}