.single-project {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 0 25px 10px;
    border-bottom: 1px solid  $color-border;
    color: #000;
    
    &:hover {
        color: $color-peach;
    }

    @include min-screen($breakpoint-small) {
        flex-direction: row;
    }
    
    @include min-screen($breakpoint-medium) {
        padding: 25px 0 25px 20px;
    }
}

.single-project__img {
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: 50% 50%;
    height: 110px;
    width: 190px;
    margin-bottom: 15px;
    img {
        display: none;
    }
    @include min-screen($breakpoint-small) {
        flex: 0 0 190px;
        margin-bottom: 0;
    }
    
    @include min-screen($breakpoint-medium) {
        margin-bottom: 0;
    }
}

.single-project__title {
    text-align: center;
    margin-bottom: 0;
    
    @include min-screen($breakpoint-small) {
        text-align: left;
        padding-left: 40px;
    }
    @include min-screen($breakpoint-medium) {
        padding-left: 90px;
    }
}

.all-links {
    a {
        display: block;
        font-size: 18px;
        line-height: 1.2;
        color: $color-peach;
        
        svg {
            width: 25px;
            height: 15px;
            transform: rotate(90deg);
        }
        @include min-screen($breakpoint-medium) {
            font-size: 22px;
        }
    }
}

.project {

    h2.heading {
        margin: 50px 0;

        @include min-screen($breakpoint-medium) {
            margin: 65px 0;
        }
    }

    .section-divider {
        margin: 30px 0;
        
        @include min-screen($breakpoint-medium) {
            margin: 40px 0;
        }
    }

    section {
        padding: 20px 0 60px;
    }
}

.project__social {
    margin-bottom: 20px;
    @include min-screen($breakpoint-medium) {
        margin-bottom: 20px;
    }    
}


