
.employees-info {
    display: flex;
    flex-direction: column;

    img {
        width: 35px;
    }
    
    @include min-screen($breakpoint-small) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .download-link {
            padding-right: 40px;
            margin-bottom: 10px;
        }
        
        img {
            width: 46px;
        }
        
    }
}