.nav-main {
  flex:1;
  width: 100%;

  a {
    display: block;
    padding: 10px;
    position: relative;
    color: #000;
    font-size: 14px;

    &.is-active,
    &:hover {
      color: $color-lightgray;
    }
     
    &.is-active {
      color: $color-peach;
    }
    
    @include min-screen($breakpoint-extralarge) {
      font-size: 20px;
    }
    
    @include min-screen($breakpoint-huge) {
      font-size: 20px;
      padding-left: 0;
      padding-right: 0;
    }
    
    @include max-screen($breakpoint-medium - 1) {
      &::before {
        top: auto;
        bottom: 0;
      }
    }
  }

  .on-mobile {
    display: none;
    
    @include max-screen($breakpoint-small) {
      display: block;
    }
  }
  
  @include max-screen($breakpoint-medium - 1) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(black, .2);
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, visibility .2s ease;
    
    a {
      padding: 20px;
      transform: translateX(-30px);
      opacity: 0;
      transition: all .2s ease;
    }
    
    ul {
      padding: 20px;
      transition: transform .2s ease;
      transform: translateX(-100%);
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100vh;
      margin-bottom: 0;
    }
    
    &.is-active {
      opacity: 1;
      visibility: visible;
      ul {
        transform: translateX(0);
      }

      a {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  @include min-screen($breakpoint-medium) {
    padding: 0 125px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  @include max-screen(1545px) { 
    padding: 0 50px;

  }

  @include max-screen(1150px) { 
    padding: 0 16px;
  }
}

.navigations {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;

  @include max-screen(768px) { 
    min-width: 100%;
    order: 3;
    margin-top: 10px;
  }

  @include max-screen(768px) { 
    align-items: initial;
  }
}

.navigation-trigger {
  position: relative;
  width: 50px;
  height: 50px;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 4px;
    background: black;
    border-radius: 10px;
    transition: .2s ease transform;

    &:first-child {
      margin-top: -10px;
      transform-origin: top left;
    }
    &:last-child {
      margin-top: 10px;
      transform-origin: bottom left;
    }
  }

  @include min-screen($breakpoint-medium) {
    display: none;
  }
  
  .is-active & {
    span {
      &:first-child {
        transform: translate(-50%, -50%) rotate(45deg);
        
        + span {
          display: none;
        }
      }
      &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}