.exhibitions-article,
.editions-article {
    // margin-bottom: 40px;

    
    a {
        display: block;
        color: $color-base;
        
        &:hover {
            color: $color-peach;
        }
    }

    h2 {
        margin-bottom: 0;
        font-size: 18px!important;
        line-height: 1.2;
        
        @include min-screen($breakpoint-extralarge) {
            font-size: 18px !important;
            margin-bottom: 0;
        }
    }

    p {
        font-size: 16px!important;
        line-height: 1.2;

        @include min-screen($breakpoint-extralarge) {
            font-size: 16px!important;
        }
    }

}

.exhibition-list__item-second {
    margin-bottom: 40px;
}

.editions-article {
    p {
        font-weight: 500;
        margin-bottom: 0;
    }
}
    
.exhibitions__img {
    margin-bottom: 10px; 
    padding-bottom: 164%;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}


