/**
* Reset input styles.
*/
.input {
  -webkit-appearance: none;
  /* removing inner shadow on iOS inputs */
  -webkit-font-smoothing: inherit;
  box-sizing: border-box;
  transition: all .5s ease;
  background: none;
  border: none;
  width: 100%;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding: 0;
  /* remove browser defaults */
  vertical-align: middle;
  width: 100%;
  color: $color-peach !important;

  &:invalid {
    box-shadow: none;
    /* fixes mozilla red outline (shadow) */
  }

  &[readonly] {
    cursor: text;
  }

  &::-ms-clear {
    display: none;
    /* remove IE clear icon */
  }

  &::placeholder {
    color: $color-peach !important;
  }

  &:not(:disabled) {

    &:hover {}

    &:focus {
      outline: none;
    }
  }
}

.input--primary {
  height: $input-height;
  padding: $input-padding;
  color: $color-input;
  display: flex;

  &:not(:disabled) {

    &:hover {}

    &:focus {}

    @mixin input-placeholder {
      color: $color-input-placeholder;
    }
  }

  /**
   * @disabled
   */
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}

.input--search {
  border-radius: 10px;
  border: 1px solid $color-border;
  width: 800px;
  max-width: 100%;
  text-align: center;
  height: 60px;
  font-size: 18px;
  padding: 0 20px;
  
  @include min-screen($breakpoint-medium) {
    height: 80px;
    font-size: 24px;
  }
}