.sub-navigation {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;

  ul {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include min-screen($breakpoint-small) {
      flex-wrap: nowrap;
      align-items: center;
      flex-wrap: nowrap;
    }
  }
}

.sub-navigation__item {
  a {
    display: inline-block;
    position: relative;
    padding: 10px;
    color: $color-black;
    font-size: 14px;

    &:hover {
      color: $color-peach;
    }

    @include min-screen($breakpoint-small) {
      padding: 20px 30px;
      &::before {
        content: "|";
        color: $color-peach;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    @include min-screen($breakpoint-medium) {
      font-size: 18px;
    }
  }

  &:first-child {
    a {
      &::before {
        display: none;
      }
    }
  }
}
