.library {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid  $color-border;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  @include min-screen($breakpoint-small) {
    padding-bottom: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
}

.library--reading-rooms {
}

.library__wrapper {
  display: flex;
  flex-direction: column;
  
  @include min-screen($breakpoint-tiny) {
    flex-direction: row;
    align-items: flex-start;
  }

  @include min-screen($breakpoint-small) {
    width: 90%;
  }


  @include min-screen($breakpoint-medium) {
    align-items: center;
  }
}

.library__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid  $color-border;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  
  @include min-screen($breakpoint-tiny) {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 20px;
  }
  @include min-screen($breakpoint-large) {
    flex: 0 0 150px;
    height: 150px;
    margin-right: 80px;
  }
  @include min-screen($breakpoint-extralarge) {
    flex: 0 0 220px;
    height: 220px;
    margin-right: 120px;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.library__content {
  flex: 1;

  h2 {
    color: $color-peach;
    font-size: 25px;
    margin-bottom: 30px;

    @include min-screen($breakpoint-small) {
      margin-bottom: 30px;
      font-size: 40px;
    }

    @include min-screen($breakpoint-extralarge) {
      margin-bottom: 60px;

    }
  }

  p {
    margin-bottom: 10px;
    line-height: 1.4em;
  }
}

.library__note {
  margin-top: 20px;
  color: $color-peach;
  @include min-screen($breakpoint-small) {
    margin-top: 50px;
  }
}
