.footer-main {
  
  @include max-screen($breakpoint-small - 1) {
    text-align: center;
    [bp~='grid'] {
      grid-gap: 0;
    }
  }
}

.footer-main__top {
  background-color: #333;
  padding: 50px 0;

  @include min-screen($breakpoint-medium) {
    padding: 80px 0;
  }
}

.footer-main__bottom {
  .wrapper {
    padding: 30px 10px;
    
    @include min-screen($breakpoint-small) {
      padding: 40px 10px;
      display: flex;
      justify-content: space-between;
    }
  }
  
  p {
    &:last-of-type {
      margin-bottom: 0;
    }

    @include min-screen($breakpoint-small) {
      margin-bottom: 0;
    }
  }
}

.footer-main__heading {
  color: $color-peach;
  font-size: 32px;
  margin-bottom: 30px;
  
  @include min-screen($breakpoint-large) {
    font-size: 50px;
    margin-bottom: 40px;
  }
}

.footer-main__links a,
.footer-main__contact,
.footer-main__working-hours {
  font-size: 16px;
  color: white;
  
  @include min-screen($breakpoint-medium) {
      font-size: 22px;
    }
  }

  .footer-main__links {
    a {
      line-height: 36px;
      display: inline-block;
    }
  }

  .footer-main__contact,
  .footer-main__working-hours {
    line-height: 26px;
    
    dt {
      margin-top: 20px;
      
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .footer-main__heading--social {

    @include min-screen($breakpoint-medium) {
      margin-top: 70px;
    }
  }
  
  .social-icon {
    margin-right: 10px;

    @include min-screen($breakpoint-large) {
      margin-right: 15px;

    }
    
    img {
      width: 36px;
      
      @include min-screen($breakpoint-large) {
        width: 46px;
      }
    }
  }
  
  .footer-main__copyright {
    span {
      font-size: 18px;

      @include min-screen($breakpoint-medium) {
        font-size: 20px;
      }
    }
  }
  
  .footer-main__author, 
  .footer-main__copyright {
    font-size: 16px;
    color: $color-darkgray;

    @include min-screen($breakpoint-medium) {
      font-size: 18px;
    }
  }

  .footer-main__author {
    a {
      color: #999999;
    }
  }