.footer-main {
  
  @include max-screen($breakpoint-small - 1) {
    text-align: center;
    [bp~='grid'] {
      grid-gap: 0;
    }
  }
}

.footer-main__top {
  background-color: #333;
  padding: 50px 0;

  @include min-screen($breakpoint-medium) {
    padding: 50px 0 35px;
  }

  @include max-screen($breakpoint-small) {
    .-ml {
      margin-left: 0!important;
    }
  }
}

.footer-main__bottom {
  .wrapper {
    padding: 30px 10px;
    
    @include min-screen($breakpoint-small) {
      padding: 30px 40px;
      display: flex;
      justify-content: space-between;
    }

    @include min-screen($breakpoint-extralarge) {
      padding: 40px 10px;

    }
  }
  
  p {
    &:last-of-type {
      margin-bottom: 0;
    }

    @include min-screen($breakpoint-small) {
      margin-bottom: 0;
    }
  }
}

.footer-main__heading {
  color: $color-peach;
  font-size: 32px;
  margin-bottom: 30px;
  
  @include min-screen($breakpoint-large) {
    font-size: 36px;
    margin-bottom: 20px;
  }
}

.footer-main__links a,
.footer-main__contact,
.footer-main__working-hours {
  font-size: 16px;
  color: white;
  
  @include min-screen($breakpoint-extralarge) {
      font-size: 18px;
    }
  }

  .footer-main__links {
    a {
      line-height: 30px;
      display: inline-block;

      &:hover {
        color: $color-peach;
      }
    }
  }

  .footer-main__contact,
  .footer-main__working-hours {
    line-height: 1.5;
    
    dt {
      margin-top: 20px;
      
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .footer-main__heading--social {

    @include min-screen($breakpoint-medium) {
      margin-top: 70px;
    }
  }
  
  .social-icon {
    margin-right: 10px;

    @include min-screen($breakpoint-large) {
      margin-right: 15px;

    }
    
    img {
      width: 36px;
      
      @include min-screen($breakpoint-large) {
        width: 46px;
      }
    }
  }
  
  .footer-main__copyright {
    span {
      font-size: 16px;

      @include min-screen($breakpoint-extralarge) {
        font-size: 16px;
      }
    }

    small {

      @include max-screen(500px) {
        display: block;
      }
    }
  }
  
  .footer-main__author, 
  .footer-main__copyright {
    font-size: 14px;
    color: $color-darkgray;
    text-align: left;

    @include min-screen($breakpoint-extralarge) {
      font-size: 14px;
    }
  }

  .footer-main__author {
    a {
      color: #999999;

    }
    @include max-screen($breakpoint-extralarge) {
      margin-right: 80px;

      a {
        font-size: 14px;
      }
    }

    @include max-screen(991px) {
      margin-right: 0;

    }
  }