.header-main {
  position: relative;
  z-index: 100;
  .wrapper {
    display: flex;
    flex-direction: column;
    // padding-top: 40px;
    // padding-bottom: 40px;
    // height: 

    // @include max-screen(1024px) {
    //   padding-top: 20px;
    //   padding-bottom: 20px;
    // }
  }
}

  .logo {
    width: 120px;
    display: flex;
    align-items: center;

    @include max-screen(1024px) {
      width: 100px;
    }
  }

  .header-main__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    // flex: 1;
    height: 180px;

    @include max-screen(1024px) {
      height: 150px;
    }

    @include max-screen(768px) {
      height: auto;
      padding: 20px 0;
    }
  }
  
  .header-main__content-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
  }

  .inner-wrapper {
    display: flex;
    flex-direction: row;

    @include max-screen(768px) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }
    
