.contact-element {
  display: flex;
  align-items: center; 
  font-size: 24px;
  margin-bottom: 25px;
  line-height: 1.4;

  @include min-screen($breakpoint-medium) {
    margin-bottom: 40px;
  }
  .library-hero__info & {
    color: white;
    font-size: 28px;
    }
}

.contact-element__icon {
    margin-right: 20px;
    display: flex;
    flex: 0 0 46px;
    
    @include min-screen($breakpoint-medium) {
        margin-right: 35px;
    }
}

.contact-element__content {

  a {
    color: $color-text;

    &:hover {
      color: $color-peach;
    }
  }
}
