.map-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    ul {
        margin-bottom: 0;
    }
    
    @include min-screen($breakpoint-small) {
        flex-direction: row;
    }

    @include min-screen($breakpoint-medium) {
        margin-bottom: 90px;
    }
}

.map-container {
    padding-bottom: 75%;
    flex: 1;
    background: gray;
    position: relative;

    .map-section--middle & {
        padding-bottom: 50%;
    }
    
    @include min-screen($breakpoint-small) {
        padding-bottom: 30%;
        .map-section--middle & {
            padding-bottom: 30%;
        }
    }
    #map {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        .gm-style-iw {

            .gm-ui-hover-effect {
                top: 0 !important;
                right: 0 !important;
            }
        }
    
    }

}

.markers-wrapper {
    display: none;
}

.map-places {
    text-align: center;
    background-color: #4C4D4C;
    padding: 10px 20px 20px;
    
    @include min-screen($breakpoint-small) {
        min-width: 150px;
        width: 22%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    li {
        cursor: pointer;
        display: inline-block;
        word-break: break-word;
        font-size: 16px;
        color: white;
        line-height: 1.3;
        margin: 10px 10px 0;

        &:hover, 
        &.is-active {
            color: $color-peach;
        }
        
        @include min-screen($breakpoint-small) {
            display: block;
            margin: 10px 0 0;
        }
        
        @include min-screen($breakpoint-extralarge) {
            font-size: 24px;
        }
    }

    @include min-screen($breakpoint-large) {
        padding: 25px 40px 35px;
    }
}

.map-marker-info {
    padding: 20px;
    font-family: $second-font-family;
    
    h2 {
        font-size: 26px;
        font-family: $second-font-family;
        @include min-screen($breakpoint-medium) {
            font-size: 46px;
        }
    }
    
    img {
        max-width: 100%;
    }

    a {
        svg {
            width: 35px;
            height: auto;
        }
    }

    @include max-screen($breakpoint-tiny - 1) {
        padding: 0;
    }
}

.map-marker-info__address {
    margin-bottom: 30px;
    font-size: 0;
    span {
        font-size: 14px;
        display: block;
    }
    @include min-screen($breakpoint-small) {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        
        span {
            font-size: 16px;
        }
    }

    @include min-screen($breakpoint-medium) {
        font-size: 24px;
        
        span {
            font-size: 24px;
        }
    }
}

.map-marker-info__content {
    @include font-size(14px);
    line-height: 1.2;
    
    p {
        margin-bottom: 0;
    }
    
    @include min-screen($breakpoint-small) {
        @include font-size(24px);
    }

    @include max-screen($breakpoint-tiny - 1) {
        display: block !important;
    }
}

// .map-marker-info__work-time {
//     p {
//         line-height: 1;
//     }
// }

.gm-style-iw.gm-style-iw-c {
    border-radius: 0;
    border: 1px solid #BCBCBC;
}

.gm-style-iw-t {
    
    &::after {
        background: white;
        border-left: 1px solid #BCBCBC;
        border-bottom: 1px solid #BCBCBC;
    }
}