.table-wrapper {
  overflow: auto;
  margin-bottom: 40px;
  
  table {
    width: 100%;
    max-width: 100%;
  }

  td {
    vertical-align: middle;
    padding: 15px 0 15px 10px;
    word-wrap: break-word;
    
    @include min-screen($breakpoint-tiny) {
      padding: 20px;
    }

    p {
      margin-bottom: 0;
      line-height: 1.5;
    }
  }
}

.table--extend {
  table-layout: fixed;

  h3 {
    margin-bottom: 0;
  }
  
  td {
    &:last-child {
      text-align: center;
      width: 40px;
      @include min-screen($breakpoint-tiny) {
        width: 80px;
      }
      a {
        display: block;
      }
    }
  }
}

.table--extend-content {
  img {
    width: 46px;
    margin-right: 15px;
  }
}


.table--employees {
  @include max-screen($breakpoint-tiny - 1) {
    font-size: 14px;
  }
}