.sub-navigation {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;

  ul {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sub-navigation__item {
  a {
    display: block;
    position: relative;
    padding: 10px 30px;
    color: $color-black;

    &::before {
      content: "|";
      color: $color-peach;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &:first-child {
    a {
      &::before {
        display: none;
      }
    }
  }
}
