.map-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    ul {
        margin-bottom: 0;
    }
    
    @include min-screen($breakpoint-tiny) {
        flex-direction: row;
    }

    @include min-screen($breakpoint-medium) {
        margin-bottom: 90px;
    }
}

.map-container {
    padding-bottom: 75%;
    flex: 1;
    background: gray;
    position: relative;
    
    @include min-screen($breakpoint-tiny) {
        padding-bottom: 45%;
    }
    #map {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        .gm-style-iw {

            .gm-ui-hover-effect {
                top: 0 !important;
                right: 0 !important;
            }
        }
    
    }

}

.markers-wrapper {
    display: none;
}

.map-places {
    text-align: center;
    @include min-screen($breakpoint-tiny) {
        padding-left: 20px;
        min-width: 150px;
        width: 20%;
        text-align: left;
    }
    
    li {
        cursor: pointer;
        display: inline-block;
        padding: 10px 20px;
        word-break: break-word;

        &:hover, 
        &.is-active {
            color: $color-peach;
        }
        
        @include min-screen($breakpoint-tiny) {
            display: block;
        }

        @include min-screen($breakpoint-medium) {
            font-size: 28px;
        }
    }
}

.map-marker-info {
    padding: 20px;
    font-family: $second-font-family;
    
    h2 {
        font-size: 26px;
        font-family: $second-font-family;
        @include min-screen($breakpoint-medium) {
            font-size: 46px;
        }
    }
    
    img {
        max-width: 100%;
    }

    a {
        svg {
            width: 35px;
            height: auto;
        }
    }
}

.map-marker-info__address {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 30px;
    @include min-screen($breakpoint-medium) {
        font-size: 24px;
    }
}

.map-marker-info__content {
    @include font-size(24px);
    line-height: 1.2;

    p {
        margin-bottom: 0;
    }
}

.gm-style-iw.gm-style-iw-c {
    border-radius: 0;
    border: 1px solid #BCBCBC;
}

.gm-style-iw-t {
    
    &::after {
        background: white;
        border-left: 1px solid #BCBCBC;
        border-bottom: 1px solid #BCBCBC;
    }
}