.library-sections {
    padding: 40px 0 20px;

    @include min-screen($breakpoint-medium) {
        padding: 50px 0 20px;
    }
    
}

.library-sections__heading {
    color: $color-peach;
    margin-bottom: 30px;
    font-size: 28px;
    
    @include min-screen($breakpoint-medium) {
        margin-bottom: 30px;
        font-size: 28px;
    }
}

.library-sections__item {
    display: flex;
    align-items: center;

    .contact-element {
        flex: 1;
    }
}




