.home-slider {
    .main-slider-wrapper,
    .main-slider {
        height: 100%;
    }
    @include max-screen($breakpoint-medium - 1) {
        height: auto !important;
    }
    @include min-screen($breakpoint-medium) {
        position: relative;
        overflow: hidden;
    }
}

.main-slider-wrapper {
    position: relative;
    height: 100%;

    .space & {
        margin-bottom: 50px;    
    }
    
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        
        svg {
            width: 50px;
            height: 26px;
        }
    }
    
    .slick-prev {
        transform: translateY(-50%) scale(-1, 1);
    }
    
    .slick-next {
        left: auto;
        right: 10px;
    }
    .slick-prev,
    .slick-next {
        @include max-screen($breakpoint-tiny - 1) {
            width: 30px;
            height: 30px;
            display: flex;
            left: 0;
            svg {
                display: none;
            }

            &:before {
                content: '';
                margin: auto;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 0 10px 10px;
                border-color: transparent transparent transparent #000000;
            }
        }
    }

    .slick-next {
        @include max-screen($breakpoint-tiny - 1) {
            left: auto;
            right: 0;
        }
    }
}

.main-slider {
    
    .slick-list, 
    .slick-track,
    .main-slider__item {
        height: 100%;
    }
    .main-slider__item {
        display: flex;
        flex-direction: column;   
        justify-content: center;     
        
        &:focus {
            outline: none !important;
        }
        
        @include min-screen($breakpoint-small) {
            flex-direction: row;        
        }
    }
    
    @include min-screen($breakpoint-small) {
        height: 500px;
    }
}
.main-slider__item-overflow {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main-slider__item-content {
    padding: 20px 30px;
    background-color: $color-peach;
    text-align: center;
    
    h2 {
        font-size: 25px;
        font-weight: 300;
        line-height: 1.15;
    }
    
    p {
        line-height: 1.25;
        font-size: 16px;
        font-weight: normal;

        &:last-child {
            margin-bottom: 0;
        }
    }


    
    @include min-screen($breakpoint-small) {
        padding: 100px 50px 100px 80px;
        flex: 0 0 33%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            font-size: 24px!important;
        }
        
        p {
            font-size: 18px;
        }
    }

    @include min-screen($breakpoint-extralarge) {
        h2 {
            font-size: 22px!important;
        }
        
        p {
            font-size: 16px;
        }
    }

    @include min-screen($breakpoint-medium) {
        padding: 40px 50px 130px 80px;
    }

    @media screen and (max-height: 920px) {

        h2 {
            font-size: 35px;
        }
        
        p {
            font-size: 20px;
        }
    }
}

.main-slider__item-image {
    flex: 0 0 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
    @include min-screen($breakpoint-small) {
        flex: 1;
    }

    @include min-screen($breakpoint-medium) {
        flex: 1;
    }
}

.main-slider__regular-text {
    margin-bottom: 0;
    
    @include screen($breakpoint-medium, $breakpoint-extralarge) {
        display: none;
    }
}

.main-slider__read-more {
    display: none;
    
    @include screen($breakpoint-medium, $breakpoint-extralarge) {
        display: block;

        a {
            color: white;
        }
    }
}