.header-main {
  @include min-screen($breakpoint-medium) {
    .wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 70px;
    }
  }

}
  .header-main__logo {
    width: 200px;
    display: block;
  }

  .header-main__content {
    @include min-screen($breakpoint-medium) {
      flex: 1;
      padding-left: 120px;
    }
  }