.memberships {
  margin-bottom: 50px;

  @include min-screen($breakpoint-small) {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }
}

.memberships__item {
  flex: 0 0 16.66%;
  
  &:hover {
    .memberships__item-title {
      color: $color-peach;
    }
  }
}

.memberships__item-img {
  margin-bottom: 10px;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  @include min-screen($breakpoint-small) {
    max-width: 65%;
  }
}

.memberships__item-title {
  text-align: center;
  @include font-size(28px);
  
  @include max-screen($breakpoint-large - 1) {
    @include font-size(20px);
  }
}

.memberships__item-tooltip {
  width: 300px;

  @include min-screen($breakpoint-tiny) {
    width: 400px;
  }
  @include min-screen($breakpoint-small) {
    width: 500px;
  }
}
