.library {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #666666;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  @include min-screen($breakpoint-small) {
    padding-bottom: 40px;
    margin-bottom: 50px;
  }
}

.library--reading-rooms {
}

.library__wrapper {
  display: flex;
  align-items: flex-start;

  @include min-screen($breakpoint-medium) {
    align-items: center;
  }
}

.library__img {
  flex: 0 0 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #000;
  margin-right: 20px;

  @include min-screen($breakpoint-large) {
    flex: 0 0 280px;
    height: 280px;
    margin-right: 50px;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.library__content {
  flex: 1;
  font-size: 18px;

  @include min-screen($breakpoint-large) {
    font-size: 28px;
  }

  h2 {
    color: $color-peach;
    font-size: 25px;
    margin-bottom: 30px;

    @include min-screen($breakpoint-small) {
      margin-bottom: 60px;
      font-size: 40px;
    }
  }
}

.library__note {
  margin-top: 20px;
  color: $color-peach;
  @include min-screen($breakpoint-small) {
    margin-top: 50px;
  }
}
