
.employees-info {
    display: flex;
    flex-direction: column;

    img {
        width: 35px;
    }
    
    @include min-screen($breakpoint-small) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .download-link {
            padding-right: 40px;
            margin-bottom: 10px;
        }
        
        img {
            width: 46px;
        }
        
    }
}

.employees-section {

    >div {
        width: 50%;
    }
    .input--search {
        @include min-screen($breakpoint-small) {
            min-width: 450px;
        }

        @include max-screen(810px) {
            font-size: 14px;
            min-width: 350px;
        }

        @include max-screen(768px) {
            min-width: 100%;
        }
    }

    @include max-screen(768px) {
        flex-direction:column;
        >div {
            width: 100%;
        }
    }
}