.navigation-slider-wrapper {
    background: black;
    position: relative;
    padding: 20px 30px;
    @include min-screen($breakpoint-medium) {
        padding: 20px 50px;
    }

    .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    }

    .slick-next {
        left: auto;
        right: 30px;
    }
}

.navigation-slider {

    .slick-active {
        text-align: center;
        
        a {
            padding: 0 20px;
            color: white;
            display: block;
        }
    }

    .slick-active:not(.slick-current) {
        position: relative;
        &::before {
            content: "|";
            position: absolute;
            left: 0;
        }
    }
}
