
<section class="map-section">
    <ul class="map-places">
        <li>
            Централна библиотека
        </li>
        <li>
            Завичајно одељење
        </li>
        <li>
            Фонд периодике
        </li>
        <li>
            Амерички кутак
        </li>
        <li>
            Дечја одељења
        </li>
        <li>
            Барајево
        </li>
        <li>
            Вождовац
        </li>
        <li>
            Врачар
        </li>
        <li>
            Гроцка
        </li>
        <li>
            Звездара
        </li>
        <li>
            Земун
        </li>
        <li>
            Младеновац
        </li>
        <li>
            Нови Београд
        </li>
        <li>
            Раковица
        </li>
        <li>
            Савски венац
        </li>
        <li>
            Сопот
        </li>
        <li>
            Стари град
        </li>
        <li>
            Чукарица
        </li>
    </ul>
    <div class="map-container">
        <div id="map"></div>
    </div>

    
</section>
<div class="markers-wrapper">
    <div id="marker1">
        <div class="map-marker-info">
            <h2>Централна библиотека</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span>{% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker2">
        <div class="map-marker-info">
            <h2>Завичајно одељење</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker3">
        <div class="map-marker-info">
            <h2>Фонд периодике</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker4">
        <div class="map-marker-info">
            <h2>Амерички кутак</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker5">
        <div class="map-marker-info">
            <h2>Дечја одељења</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker6">
        <div class="map-marker-info">
            <h2>Барајево</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker7">
        <div class="map-marker-info">
            <h2>Вождовац</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker8">
        <div class="map-marker-info">
            <h2>Врачар</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker9">
        <div class="map-marker-info">
            <h2>Гроцка</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker10">
        <div class="map-marker-info">
            <h2>Звездара</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker11">
        <div class="map-marker-info">
            <h2>Земун</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker12">
        <div class="map-marker-info">
            <h2>Младеновац</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker13">
        <div class="map-marker-info">
            <h2>Нови Београд</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker14">
        <div class="map-marker-info">
            <h2>Раковица</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker15">
        <div class="map-marker-info">
            <h2>Савски венац</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker16">
        <div class="map-marker-info">
            <h2>Сопот</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker17">
        <div class="map-marker-info">
            <h2>Стари град</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker18">
        <div class="map-marker-info">
            <h2>Чукарица</h2>
            <p class="map-marker-info__address"><span>Кнез Михајлова 56</span> | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content grid-gap--medium@sm">
                <div bp="5@sm">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="7@sm">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
