
<section class="map-section">
    <ul class="map-places">
        <li>Централна</li>
        <li>Барајево</li>
        <li>Вождовац</li>
        <li>Врачар</li>
        <!-- <li>Гроцка</li>
        <li>Звездара</li>
        <li>Младеновац</li>
        <li>Нови Београд</li>
        <li>Раковица</li>
        <li>Савски венац</li> -->
    </ul>
    <div class="map-container">
        <div id="map"></div>
    </div>

    
</section>
<div class="markers-wrapper">
    <div id="marker1">
        <div class="map-marker-info">
            <h2>Централна</h2>
            <p class="map-marker-info__address">Кнез Михајлова 56 | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content">
                <div bp="6">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="6">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span>{% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker2">
        <div class="map-marker-info">
            <h2>Барајево</h2>
            <p class="map-marker-info__address">Кнез Михајлова 56 | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content">
                <div bp="6">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="6">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker3">
        <div class="map-marker-info">
            <h2>Вождовац</h2>
            <p class="map-marker-info__address">Кнез Михајлова 56 | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content">
                <div bp="6">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="6">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="marker4">
        <div class="map-marker-info">
            <h2>Врачар</h2>
            <p class="map-marker-info__address">Кнез Михајлова 56 | <span class="map-marker-phone">011 223 344 55</span> | <span class="map-marker-email">info@bgb.rs</span></p>
    
            <div bp="grid" class="map-marker-info__content">
                <div bp="6">
                    <img src="assets/images/map/marker-1.jpg" alt="">
                </div>
                <div bp="6">
                    <div class="o-flex o-flex--column o-flex--justify full-height">
                        <div>
                            <p>понедељак - петак</p>
                            <p>08:00-20:00 часова</p>
                            <p>субота</p>
                            <p>08:00-14:00 часова</p>
                        </div>
                        <div>
                            <a href="#"><span>Прочитај више</span> {% include "../components/inline-svg/arrow.html" -%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
