{% import "macros/macro.all.html" as allMacros %}


<div class="memberships">
  {{ allMacros.membershipsItem('clanarine/1-individualna-06.svg', 'Индивидуално', 'bottom-left') }}
  {{ allMacros.membershipsItem('clanarine/2-grupna-05.svg', 'Колективно', 'bottom-left') }}
  {{ allMacros.membershipsItem('clanarine/3-porodicna-05.svg', 'Породично', 'bottom-center') }}
  {{ allMacros.membershipsItem('clanarine/4-studenti-09.svg', 'Студентски попусти', 'bottom-center') }}
  {{ allMacros.membershipsItem('clanarine/5-65plus-05.svg', '65+', 'bottom-right') }}
  {{ allMacros.membershipsItem('clanarine/6-besplatna-05.svg', 'Бесплатно учлањење', 'bottom-right') }}
</div>