<nav class="sub-navigation">
  <ul>
    <li class="sub-navigation__item">
      <a href="prostor.html">Зграда БГБ</a>
    </li>
    <li class="sub-navigation__item">
      <a href="prostor.html">Рисмка дворана</a>
    </li>
    <li class="sub-navigation__item">
      <a href="prostor.html">Галерија Атријум</a>
    </li>
    <li class="sub-navigation__item">
      <a href="prostor.html" class="is-active">Вукова сала</a>
    </li>
    <li class="sub-navigation__item">
      <a href="prostor.html">Читаоница Фонда уметности</a>
    </li>
  </ul>
</nav>


 

 
 
