<nav class="sub-navigation">
  <ul>
    <li class="sub-navigation__item">
      <a href="#section1">Историјат</a>
    </li>
    <li class="sub-navigation__item">
      <a href="#section2">Организација</a>
    </li>
    <li class="sub-navigation__item">
      <a href="#section3">Простори</a>
    </li>
    <li class="sub-navigation__item">
      <a href="#section4">Запослени</a>
    </li>
    <li class="sub-navigation__item">
      <a href="#section5">Управни одбор</a>
    </li>
    <li class="sub-navigation__item">
      <a href="#section6">Акти</a>
    </li>
  </ul>
</nav>