{% extends "layouts/default.html" %}

{% set editions = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "editions" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper wrapper--large">
    <div class="page-404">
        <div bp="grid">
            <div bp="6@md" class="o-flex o-flex--justify-center o-flex--column">
                <h2>Жао нам је, ова страница
                    више није доступна.</h2>
                <p>Страница је привремено недоступна или обрисана.
                    Проверите да ли сте исправно откуцали адресу. 
                    У адреси не сме бити великих слова и размака.
                    Вратите са на насловну страну <a href="www.bgb.rs">www.bgb.rs</a>.  
                    Погледајте мапу сајта на дну странице.
                    Користите претрагу на врху странице.</p>
            </div>
            <div bp="6@md">
                <img src="assets/images/404.png" alt="">
            </div>
        </div>
    </div>
  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
