{% extends "layouts/default.html" %}

{% set homepage = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "homepage" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="home-slider">
    {% include "./components/sliders/main-slider.html" -%}
    {% include "./components/sliders/navigation-slider.html" -%}
  </div>
  <section>
    <div class="wrapper">
      <div bp="grid">
        <div bp="8@md">
          <div bp="grid" class="thumb-img-wrapper">
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ЕЛЕКТРОНСКИ КАТАЛОГ', '1-elkatalog-05.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ДИГИТАЛНА БИБЛИОТЕКА', '2-digbiblioteka-06.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ПИТАЈ БИБЛИОТЕКАРА', '3-pitajbibliotekara-07.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ЧИТАМ, ПА ШТА?', '4-citampasta-11.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ОНЛАЈН БИОСКОП', '5-onlinebioskop-09.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ШТА ДА ЧИТАМ?', '6-stadacitam-08.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'НОВЧИЋИ', '7-novcici-12.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ФОТО ГАЛЕРИЈА', '8-galerija-10.svg') }}
            </div>
          </div>
        </div>
        <div bp="4@md">
          <aside class="event-wrapper">
            {{ allMacros.titleLink('h2', 'Календар дешавања', 'kalendar-desavanja.html', true) }}
            <div class="c-calendar"></div>
            {{ allMacros.event('3. СЕП 2020.', 'Наслов', 'Локација', 'kalendar-desavanja.html') }}
            {{ allMacros.event('3. СЕП 2020.', 'Наслов', 'Локација', 'kalendar-desavanja.html') }}
            {{ allMacros.event('3. СЕП 2020.', 'Наслов', 'Локација', 'kalendar-desavanja.html') }}
            
            {{ allMacros.titleLink('h2', 'Вести', 'vesti.html', true) }}
            {{ allMacros.event('3. СЕП 2020.', 'Наслов', 'Локација', 'vesti.html') }}
            {{ allMacros.event('3. СЕП 2020.', 'Наслов', 'Локација', 'vesti.html') }}
            {{ allMacros.event('3. СЕП 2020.', 'Наслов', 'Локација', 'vesti.html') }}
          </aside>
        </div>
  
      </div>
    </div>
  </section>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
