{% extends "layouts/default.html" %}

{% set homepage = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "homepage" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="home-slider">
    {% include "./components/sliders/main-slider.html" -%}
    {% include "./components/sliders/navigation-slider.html" -%}
  </div>
  <section>
    <div class="wrapper">
      <div bp="grid">
        <div bp="8@md">
          <div bp="grid" class="thumb-img-wrapper">
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ЕЛЕКТРОНСКИ КАТАЛОГ', '1-elkatalog-05.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ДИГИТАЛНА БИБЛИОТЕКА', '2-digbiblioteka-06.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ПИТАЈ БИБЛИОТЕКАРА', '3-pitajbibliotekara-07.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ЧИТАМ, ПА ШТА?', '4-citampasta-11.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ОНЛАЈН БИОСКОП', '5-onlinebioskop-09.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ШТА ДА ЧИТАМ?', '6-stadacitam-08.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'НОВЧИЋИ', '7-novcici-12.svg') }}
            </div>
            <div bp="6@sm">
              {{ allMacros.thumbImg('#', 'ФОТО ГАЛЕРИЈА', '8-galerija-10.svg') }}
            </div>
          </div>
        </div>
        <div bp="4@md">
          <aside class="event-wrapper">
            {{ allMacros.titleLink('h2', 'Календар дешавања', 'kalendar-desavanja.html', true) }}
            <div class="c-calendar"></div>
            {{ allMacros.event('Понедељак, 4.11. у 19', 'Представљање књиге "Путник по Светој гори" аутора Бориса Субашића.', 'Римска дворана', 'kalendar-desavanja.html', 'Учествују: Дејан Радичевић, Влада Станковић и аутор.') }}
            {{ allMacros.event('Уторак, 5.11. у 13', 'Представљање књиге "Грип - проширено издање са посебним освртом на пандемију 2009" аутора Зорана Радовановића и Предрага Кона.', 'Римска дворана', 'kalendar-desavanja.html', 'Учествују: Владимир Петровић, Душанка Матијевић, Драган Делић, Бојан Стојановић и аутори.') }}
            {{ allMacros.event('Среда, 6.11. у 12', 'Представљање књиге: "Песме о младости" аутора Ненада Грујичића', 'Римска дворана', 'kalendar-desavanja.html', 'Учествују: Бошко Сувајџић, Растко Лончар, Даница Петровић и аутор.') }}
            
            {{ allMacros.titleLink('h2', 'Вести', 'vesti.html', true) }}
            {{ allMacros.eventNews('Обележен 90. рођендан Библиотеке града Београда', 'vesti.html') }}
            {{ allMacros.eventNews('Завршена осма виртуелна акција „РЕТРОТЕКА – Београд у ретровизору Библиотеке града
            Београда“', 'vesti.html') }}
            {{ allMacros.eventNews('Празнични попуст на годишњу чланарину', 'vesti.html') }}
          </aside>
        </div>
  
      </div>
    </div>
  </section>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
