{% extends "layouts/default.html" %}

{% set exhibitions = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "exhibitions" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper">
    <div class="section-wrapper">
      <div class="text-wrapper">
        <article class="exhibition">
          <div class="exhibition__img"><img src="assets/images/exhibition-img.jpg" alt=""></div>
          <div class="exhibition__content">
            <div>
                <h2 class="exhibition__title">Данило Киш: 1935-1989</h2>
                <div class="social">
                  <a href="{{href}}" class="social-icon"><img src="assets/images/fb-podeli-01.svg" alt=""></a>
                  <a href="{{href}}" class="social-icon"><img src="assets/images/fb-svidjanje.svg" alt=""></a>
                  <a href="{{href}}" class="social-icon"><img src="assets/images/twitter-podeli.svg" alt=""></a>
                </div>
            </div>
            <div>
              <div class="exhibition__author">
                <h3>Аутор изложбе:</h3>
                <p>Олга Красић Марјановић</p>
              </div>
              <div class="exhibition__design">
                <h3>Дизајн изложбе:</h3>
                <p>Снежана Рајковић</p>
              </div>
              <div class="exhibition__info">
                <p>Изложба је приређена поводом 70-годишњице рођења Данила Киша</p>
              </div>
            </div>
          </div>
        </article> 
        <section class="exhibition-details">
          <p>
            Изложба обухвата готово све пишчеве важније периоде живота: од Суботице и Новог Сада, преко Мађарске, Цетиња и Београда, до Лила, Бордоа и Париза. Напостерима су представљени и рукописна грађа, страна издања, важнији текстови и издања, као и бројне фотографије.
          </p>

          <p>
            Изложба је наишла навелико интересовање јавности. Гостовала је на Цетињу у Централној народној библиотеци Ђурђе Црнојевић, у оквиру Будва града театра и у Галерији Централно еропског института у Будимпешти.
          </p>

          <p>
            Изложбу и пратећи каталог можете погледати <a href="">овде</a>
          </p>
        </section>
        <br>
        <br>
      </div>
    </div>
  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
