{% extends "layouts/default.html" %}

{% set exhibitions = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "exhibitions" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper wrapper--large">
    <section class="exhibition-details">
      <p>
        Библиотека града Београда приређује ауторске истраживачке изложбе посвећене нашим најпознатијим књижевницима и књижевним појавама. Изложбе су стручно осмишљене, атрактивно дизајниране и одштампане на великим постерима или паноима, са обимним пратећим каталозима. До сада су гостовале у готово свим градовима Србије и широм света. Могу се погледати и у електронском формату на нашој <a href="">дигиталној библиотеци</a>.
      </p>
    </section>
    <div bp="grid" class="grid-gap--large@md grid-gap--medium@sm thumb-img-wrapper">
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img1.jpg', 'Borisav Stanković', '(1876-1927-2007)') }}
      </div>
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img2.jpg',' Владан Десница:',  '1907-1967') }}
      </div>
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img.jpg', 'Данило Киш: ', '1935-1989') }}
      </div>
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img3.jpg', 'Павић од Ш до А',  '') }}
      </div>
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img1.jpg', 'Borisav Stanković', '(1876-1927-2007)') }}
      </div>
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img2.jpg',' Владан Десница:',  '1907-1967') }}
      </div>
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img.jpg', 'Данило Киш: ', '1935-1989') }}
      </div>
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img3.jpg', 'Павић од Ш до А',  '') }}
      </div>
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img1.jpg', 'Borisav Stanković', '(1876-1927-2007)') }}
      </div>
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img2.jpg',' Владан Десница:',  '1907-1967') }}
      </div>
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img.jpg', 'Данило Киш: ', '1935-1989') }}
      </div>
      <div bp="2@xl 3@lg 4@md 6@sm">
          {{ allMacros.exhibitions('exhibition-img3.jpg', 'Павић од Ш до А',  '') }}
      </div>
    </div>
    <section class="all-links">
        {{ allMacros.titleLink('h2', 'Прикажи све изложбе', '#', true) }}
      </section>
  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
