{% extends "layouts/default.html" %}

{% set publicProcurement = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "public-procurement" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper">
  	<div class="text-wrapper">
    	<section>
          <h2>Позив за подношење понуда и конкурсна документација</h2>
          <div class="section-divider"></div>
          <div class="table-wrapper">
            <table class="table">
              <tr>
                <td colspan="2">
                  <div class="employees-info">
                    <a href="" class="download-link">Закон о култури <img src="assets/images/pdf_icon.png" alt=""></a> 
                    <a href="" class="download-link">Закон о културним добрима <img src="assets/images/pdf_icon.png" alt=""></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="employees-info">
                    <a href="" class="download-link">Закон о култури <img src="assets/images/pdf_icon.png" alt=""></a> 
                    <a href="" class="download-link">Закон о културним добрима <img src="assets/images/pdf_icon.png" alt=""></a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <h2>Остала обавештења</h4>
          <div class="section-divider"></div>
          <div class="table-wrapper">
            <table class="table">
              <tr>
                <td colspan="2">
                  <div class="employees-info">
                    <a href="" class="download-link">Упутства о постављању аката <img src="assets/images/pdf_icon.png" alt=""></a>
                    <a href="" class="download-link">Упутства о постављању аката <img src="assets/images/pdf_icon.png" alt=""></a>
                  </div>
                </td>
              </tr>
              
            </table>
          </div>
          <h2>План јавних набавки</h4>
          <div class="section-divider"></div>
          <div class="table-wrapper">
            <table class="table">
              <tr>
                <td colspan="2">
                  <div class="employees-info">
                    <a href="" class="download-link">Правила заштите од пожара <img src="assets/images/pdf_icon.png" alt=""></a>
                    <a href="" class="download-link">Правила заштите од пожара <img src="assets/images/pdf_icon.png" alt=""></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="employees-info">
                    <a href="" class="download-link">Правила заштите од пожара <img src="assets/images/pdf_icon.png" alt=""></a>
                    <a href="" class="download-link">Правила заштите од пожара <img src="assets/images/pdf_icon.png" alt=""></a>
                  </div>
                </td>
              </tr>
              
            </table>
          </div>
        </section>
  	</div>
  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
