{% extends "layouts/default.html" %}

{% set calendar = true %}
{% set tab1 = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "calendar" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper">

  	<div class="section-wrapper">
	    {{ allMacros.tabNavigation('kalendar-desavanja', 'desavanja-01', 'КАЛЕНДАР ДЕШАВАЊА', 'vesti', 'vesti-01', 'ВЕСТИ', true, false) }}
	    
	    {{ allMacros.calendarEvent('ikonica-03', 'Изложба „Милорад Павић од Ш до А” у Чачку', 'Галерија Градске библиотеке „Владислав Петковић Дис” у Чачку', '1. октобар 2020.', 'У четвртак, 15. октобра 2020, у галерији Градске библиотеке „Владислав Петковић Дис” у Чачку, отворена је изложба Библиотеке града Београда посвећена животу и делу Милорада Павића. Изложбу је отворила Јасмина Нинков, директорка Библиотеке града Београда, а присутнима се обратила и Исидора Ињац, у име трочланог ауторског тима.') }}

	    {{ allMacros.calendarEvent('ikonica-02', 'Представљање књиге „Милорад Павић од Ш до А” у Чачку', 'Галерија Градске библиотеке „Владислав Петковић Дис” у Чачку', '1. октобар 2020.', 'У четвртак, 15. октобра 2020, у галерији Градске библиотеке „Владислав Петковић Дис” у Чачку, отворена је изложба Библиотеке града Београда посвећена животу и делу Милорада Павића. Изложбу је отворила Јасмина Нинков, директорка Библиотеке града Београда, а присутнима се обратила и Исидора Ињац, у име трочланог ауторског тима.') }}

	    {{ allMacros.calendarEvent('ikonica-01', 'Било који догађај „Милорад Павић од Ш до А” у Чачку', 'Галерија Градске библиотеке „Владислав Петковић Дис” у Чачку', '1. октобар 2020.', 'У четвртак, 15. октобра 2020, у галерији Градске библиотеке „Владислав Петковић Дис” у Чачку, отворена је изложба Библиотеке града Београда посвећена животу и делу Милорада Павића. Изложбу је отворила Јасмина Нинков, директорка Библиотеке града Београда, а присутнима се обратила и Исидора Ињац, у име трочланог ауторског тима.') }}
	    
	    {{ allMacros.calendarEvent('ikonica-05', 'Програм са филмском пројекцијом „Милорад Павић” у Чачку', 'Галерија Градске библиотеке „Владислав Петковић Дис” у Чачку', '1. октобар 2020.', 'У четвртак, 15. октобра 2020, у галерији Градске библиотеке „Владислав Петковић Дис” у Чачку, отворена је изложба Библиотеке града Београда посвећена животу и делу Милорада Павића. Изложбу је отворила Јасмина Нинков, директорка Библиотеке града Београда, а присутнима се обратила и Исидора Ињац, у име трочланог ауторског тима.') }}
  	</div>
  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
