{% extends "layouts/default.html" %}

{% set libraries = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "libraries" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper">
    {% include "./components/map.html" -%}
    <article class="library">
      <div class="wrapper">
        <div class="library__img">
          <img src="assets/images/libraries/img1.jpg" alt="">
        </div>
        <div class="library__content">
          <h2>Централна билбиотека</h2>
  
          <div bp="grid">
            <div bp="4@md">
              <p>Радни дан: 8 - 20</p>
              <p>Субота: 8 - 14</p>
            </div>
            <div bp="4@md">
              <p>Кнез Михаилова 58</p>
              <p>Београд</p>
            </div>
            <div bp="4@md">
              <p>info@bgb.rs</p>
              <p>011/20 24 000</p>
            </div>
          </div>
        </div>
      </div>
    </article> 
    <article class="library">
      <div class="wrapper">
        <div class="library__img">
          <!-- <img src="assets/images/libraries/img1.jpg" alt=""> -->
        </div>
        <div class="library__content">
          <h2>Завичајно одељење</h2>
  
          <div bp="grid">
            <div bp="4@md">
              <p>Радни дан: 8 - 20</p>
              <p>Субота: 8 - 14</p>
            </div>
            <div bp="4@md">
              <p>Кнез Михаилова 58</p>
              <p>Београд</p>
            </div>
            <div bp="4@md">
              <p>info@bgb.rs</p>
              <p>011/20 24 000</p>
            </div>
          </div>
        </div>
      </div>
    </article> 
    <article class="library">
      <div class="wrapper">
        <div class="library__img">
          <!-- <img src="assets/images/libraries/img1.jpg" alt=""> -->
        </div>
        <div class="library__content">
          <h2>Дечја одељења</h2>
  
          <div bp="grid">
            <div bp="4@md">
              <p>Чика Јова Змај</p>
            </div>
            <div bp="4@md">
              <p>Хиландарска 7</p>
            </div>
            <div bp="4@md">
              <p>011/20 24 000</p>
            </div>
          </div>
          <div bp="grid">
            <div bp="4@md">
              <p>Невен</p>
            </div>
            <div bp="4@md">
              <p>Дом синдиката</p>
            </div>
            <div bp="4@md">
              <p>011/20 24 000</p>
            </div>
          </div>
          <div bp="grid">
            <div bp="4@md">
              <p>Чика Јова Змај</p>
            </div>
            <div bp="4@md">
              <p>Хиландарска 7</p>
            </div>
            <div bp="4@md">
              <p>011/20 24 000</p>
            </div>
          </div>
          <div bp="grid">
            <div bp="4@md">
              <p>Чика Јова Змај</p>
            </div>
            <div bp="4@md">
              <p>Хиландарска 7</p>
            </div>
            <div bp="4@md">
              <p>011/20 24 000</p>
            </div>
          </div>

        </div>
      </div>
    </article> 
    <article class="library">
      <div class="wrapper">
        <div class="library__img">
          <!-- <img src="assets/images/libraries/img1.jpg" alt=""> -->
        </div>
        <div class="library__content">
          <h2>Барајево</h2>
  
          <div bp="grid">
            <div bp="4@md">
              <p>Огранак у Вранићу
                ”Бранко Ћопић”</p>
            </div>
            <div bp="4@md">
              <p>Трг палих бораца 1</p>
            </div>
            <div bp="4@md">
              <p>011/83 32 780</p>
            </div>
          </div>
        </div>
      </div>
    </article> 

  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
