{% extends "layouts/default.html" %}

{% set libraries = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "libraries" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  {% include "./components/map.html" -%}
  <div class="wrapper">
    <article class="library">
      <div class="library__wrapper">
        <div class="library__img">
          <img src="assets/images/libraries/img1.jpg" alt="">
        </div>
        <div class="library__content">
          <h2><a href="nase-biblioteke-unutrasnja.html">Централна билбиотека</a></h2>

          <div class="library__content-box">
            <div>
              <p>Радни дан: 8 - 20 , Субота: 8 - 14</p>
              <p>Генерала Љубомира Милића 3 <br> Београд</p>
            </div>
            <div>
              
              <p>011/20 24 000</p>
              <p>novibeograd.centralno@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </article> 
    <article class="library">
      <div class="library__wrapper">
        <div class="library__img">
          <!-- <img src="assets/images/libraries/img1.jpg" alt=""> -->
        </div>
        <div class="library__content">
          <h2><a href="nase-biblioteke-unutrasnja.html">Завичајно одељење</a></h2>
          
          <div class="library__content-box">
            <div>
              <p>Радни дан: 8 - 20 , Субота: 8 - 14</p>
              <p>Генерала Љубомира Милића 3 <br> Београд</p>
            </div>
            <div>
              
              <p>011/20 24 000</p>
              <p>novibeograd.centralno@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </article> 
    <article class="library">
      <div class="library__wrapper">

        <div class="library__img">
          <!-- <img src="assets/images/libraries/img1.jpg" alt=""> -->
        </div>
        <div class="library__content">
          <h2><a href="biblioteke.html">Дечја одељења</a></h2>
  
          <div class="library__content-box">
            <div>
              <p>Чика Јова Змај</p>
            </div>
            <div>
              <p>Генерала Љубомира Милића 3 <br>  Београд</p>
              <p>011/20 24 000</p>
            </div>
          </div>
          <div class="library__content-box">
            <div>
              <p>Невен</p>
            </div>
            <div>
              <p>Дом синдиката <br> Београд</p>
              <p>011/20 24 000</p>
            </div>
          </div>
          <div class="library__content-box">
            <div>
              <p>Чика Јова Змај</p>
            </div>
            <div>
              <p>Хиландарска 7 <br> Београд</p>
              <p>011/20 24 000</p>
            </div>
          </div>
          <div class="library__content-box">
            <div>
              <p>Чика Јова Змај</p>
            </div>
            <div>
              <p>Хиландарска 7 <br> Београд</p>
              <p>011/20 24 000</p>
            </div>
          </div>

        </div>
      </div>
    </article> 
    <article class="library">
      <div class="library__wrapper">
        <div class="library__img">
          <!-- <img src="assets/images/libraries/img1.jpg" alt=""> -->
        </div>
        <div class="library__content">
          <h2><a href="biblioteke.html">Барајево</a></h2>
  
          <div class="library__content-box">
            <div>
              <p>Огранак у Вранићу
                ”Бранко Ћопић”</p>
            </div>
            <div>
              <p>Трг палих бораца 1</p>
              <p>011/83 32 780</p>
            </div>
          </div>
        </div>
      </div>
    </article> 

  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
