{% extends "layouts/default.html" %}

{% set about = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "about" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper wrapper--large">
    {% include "./components/sub-navigation-o-nama.html" -%}

    <section id="section1">
      <h2>Историјат</h2>
      <p>Чином свечаног освећења Општинске библиотеке и Музеја, 11. јануара 1931. године, Београд добија модерну градску библиотеку, читав један век након првe позајмне Библиотеке вароши Београдске Глигорија Возаровића.</p>
      <img src="" alt="">
      <img src="" alt="">
      <p>Суд Општине града поставља др Марију Илић за библиотекара, и она, угледајући се на принципе рада савремених европских и америчких библиотека, књиге сређује према децималној класификацији. Исте године, отворена је и прва јавна дечја библиотека у Краљевини Југославији.</p>
      <p class="read-more">
        <a href="">Прочитај више {% include "./components/inline-svg/arrow.html" -%}</a>
      </p>
      <div class="section-divider"></div>
    </section>
    <section id="section2">
      <h2>Организација</h2>
      <p>Библиотека града Београда (БГБ) је највећа јавна позајмна библиотека у земљи. У њеном саставу се налази тринаест општинских библиотека са територије града Београда. Располаже фондом од преко 1.500.000 јединица смештених у 70 објеката укупне површине 13.000 м2. Седиште БГБ је у Београду, улица Кнез Михаилова број 56.</p>
      <p>БГБ своју делатност обавља у оквиру две организационе јединице: </p>
      <ul>
        <li>-	Библиотека града Београда,</li>
        <li>-	Библиотеке на територији градских општина.</li>
      </ul>
      <p>У организационој јединици БГБ делатност се обавља у оквиру следећих  сектора:</p>
      <p class="read-more">
        <a href="">Прочитај више {% include "./components/inline-svg/arrow.html" -%}</a>
      </p>
      <div class="section-divider"></div>
    </section>
    
    <section id="section3">
      <h2>Простори</h2>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2>Зграда БГБ</h2>
            <p>Налази се на првом спрату Библиотеке и права је мала галерија уметничких слика посвећених Београду. Назив је добила по централној слици – портрету Вука Караџића, раду Бете Вуксановић. </p>
            <p>
              <a href="">Прочитај више {% include "./components/inline-svg/arrow.html" -%}</a>
            </p>
          </div>
        </div>
      </article>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2>Римска дворана</h2>
            <p>Налази се на првом спрату Библиотеке и права је мала галерија уметничких слика посвећених Београду. Назив је добила по централној слици – портрету Вука Караџића, раду Бете Вуксановић. </p>
            <p><a href="">Прочитај више {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
      </article>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2>Галерија Атријум</h2>
            <p>Налази се на првом спрату Библиотеке и права је мала галерија уметничких слика посвећених Београду. Назив је добила по централној слици – портрету Вука Караџића, раду Бете Вуксановић.</p>
            <p><a href="">Прочитај више {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
      </article>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2>Вукова сала</h2>
            <p>Налази се на првом спрату Библиотеке и права је мала галерија уметничких слика посвећених Београду. Назив је добила по централној слици – портрету Вука Караџића, раду Бете Вуксановић. </p>
            <p><a href="">Прочитај више {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
      </article>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2>Читаоница Фонда уметности</h2>
            <p>Налази се на првом спрату Библиотеке и права је мала галерија уметничких слика посвећених Београду. Назив је добила по централној слици – портрету Вука Караџића, раду Бете Вуксановић.</p>
            <p><a href="">Прочитај више {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
        <div class="library__note">
          Напомена: Укупно 9 читаоница
        </div>
      </article>
    </section>
    <section id="section4">
      <div class="o-flex o-flex--justify">
        <h2 class="h1">Запослени</h2>
        <input type="text" placeholder="Укуцајте име, презиме или звање запосленог" class="input input--search">
      </div>
        <table class="table">
          <tr>
            <td rowspan="4">
              <h3>Јасмина Нинков</h3>
            </td>
          </tr>
          <tr>
            <td>
              <p>Одрасли</p>
              <p>Adults</p>
            </td>
            <td>
              <p>1500,00 дин. /RSD/</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Средњошколци (14-18 година)</p>
              <p>Highschool children (age 14-18)</p>
            </td>
            <td>
              <p>800,00 дин. /RSD/</p>
            </td>
          </tr>

          <tr>
            <td>
              <p>Деца до 14 година</p>
              <p>Children up to 14 years</p>
            </td>
            <td>
              <p>750,00 дин. /RSD</p>
            </td>
          </tr>

          <tr>
            <td>
              <p>Чланарина за СТРАНЕ ДРЖАВЉАНЕ</p>
              <p>Foreign citizens membership</p>
            </td>
            <td>
              <p>1500,00 дин. /RSD/</p>
            </td>
          </tr>
        </table>
    </section>
    <section id="section5">
      <div class="o-flex o-flex--justify">
        <h2>Управни одбор</h2>
      </div>
        <table class="table">
          <tr>
            <td rowspan="4">
              <h3>Јасмина Нинков</h3>
            </td>
          </tr>
          <tr>
            <td>
              <p>Одрасли</p>
              <p>Adults</p>
            </td>
            <td>
              <p>1500,00 дин. /RSD/</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Средњошколци (14-18 година)</p>
              <p>Highschool children (age 14-18)</p>
            </td>
            <td>
              <p>800,00 дин. /RSD/</p>
            </td>
          </tr>

          <tr>
            <td>
              <p>Деца до 14 година</p>
              <p>Children up to 14 years</p>
            </td>
            <td>
              <p>750,00 дин. /RSD</p>
            </td>
          </tr>

          <tr>
            <td>
              <p>Чланарина за СТРАНЕ ДРЖАВЉАНЕ</p>
              <p>Foreign citizens membership</p>
            </td>
            <td>
              <p>1500,00 дин. /RSD/</p>
            </td>
          </tr>
        </table>
        <div class="section-divider"></div>
    </section>
    <section id="section6">
      <div class="o-flex o-flex--justify">
        <h2>Акти</h2>
      </div>
        <table class="table">
          <tr>
            <td rowspan="4">
              <h3>Закони</h3>
            </td>
          </tr>
          
        </table>
        <div class="section-divider"></div>
    </section>
  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
