{% extends "layouts/default.html" %}

{% set about = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "about" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper">
    {% include "./components/sub-navigation-o-nama.html" -%}
    <section>
      <div bp="grid">
        <div bp="6@md" class="o-flex o-flex--justify-center o-flex--center o-flex--column">
            <div>
              <h1>Библиотека</h1>
              <h3 class="color-peach">МЕСТО ЗА СВЕ</h3>
              <br>
              <p>У Београду смо центар знања, културе и забаве. <br> У Србији смо водећа јавна библиотека. <br>У Европи смо део породице најсавременијих јавних библиотека.</p>
            </div>
        </div>
        <div bp="6@md">
            <img src="assets/images/404.png" alt="">
        </div>
      </div>
    </section>
    <section id="section1">
      <h2>Историјат</h2>
      <p>Чином свечаног освећења Општинске библиотеке и Музеја, 11. јануара 1931. године, Београд добија модерну градску библиотеку, читав један век након првe позајмне Библиотеке вароши Београдске Глигорија Возаровића.</p>
      <div bp="grid" class="grid-gap--large@md grid-gap--medium@sm ">
        <div bp="6@md">
          <figure>
            <img src="https://via.placeholder.com/1000x500" alt="">
            <figcaption>Опис слике, година</figcaption>
          </figure>
        </div>
        <div bp="6@md">
          <figure>
            <img src="https://via.placeholder.com/1000x500" alt="">
            <figcaption>Опис слике, година</figcaption>
          </figure>
        </div>
      </div>

      <p>Суд Општине града поставља др Марију Илић за библиотекара, и она, угледајући се на принципе рада савремених европских и америчких библиотека, књиге сређује према децималној класификацији. Исте године, отворена је и прва јавна дечја библиотека у Краљевини Југославији.</p>
      <p class="hidden-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure facilis animi architecto laborum corporis! Optio accusantium totam nihil asperiores porro sunt alias doloribus recusandae. Molestias atque nisi fugit vitae eveniet quia quod quam dolores, veritatis asperiores, vero ipsa voluptate laboriosam maxime natus accusamus voluptatibus labore incidunt. Temporibus, sequi hic accusamus aperiam et modi, ad repudiandae sunt quae cumque, mollitia deserunt maxime possimus. Ipsum laboriosam explicabo quae tempore iusto pariatur architecto? Deleniti incidunt autem, nisi corporis, nemo culpa expedita illo delectus sed nulla facere ipsam aut perspiciatis aspernatur ex nihil similique dolores perferendis rerum. Ex omnis eveniet, dignissimos quisquam autem esse.</p>
      <p class="read-more js-read-more">
        <a href=""><span>Прочитај више</span> {% include "./components/inline-svg/arrow.html" -%}</a>
      </p>
      <div class="section-divider"></div>
    </section>
    <section id="section2">
      <h2>Организација</h2>
      <p>Библиотека града Београда (БГБ) је највећа јавна позајмна библиотека у земљи. У њеном саставу се налази тринаест општинских библиотека са територије града Београда. Располаже фондом од преко 1.500.000 јединица смештених у 70 објеката укупне површине 13.000 м2. Седиште БГБ је у Београду, улица Кнез Михаилова број 56.</p>
      <p>БГБ своју делатност обавља у оквиру две организационе јединице: </p>
      <ul>
        <li>-	Библиотека града Београда,</li>
        <li>-	Библиотеке на територији градских општина.</li>
      </ul>
      <p>У организационој јединици БГБ делатност се обавља у оквиру следећих  сектора:</p>
      <p class="hidden-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure facilis animi architecto laborum corporis! Optio accusantium totam nihil asperiores porro sunt alias doloribus recusandae. Molestias atque nisi fugit vitae eveniet quia quod quam dolores, veritatis asperiores, vero ipsa voluptate laboriosam maxime natus accusamus voluptatibus labore incidunt. Temporibus, sequi hic accusamus aperiam et modi, ad repudiandae sunt quae cumque, mollitia deserunt maxime possimus. Ipsum laboriosam explicabo quae tempore iusto pariatur architecto? Deleniti incidunt autem, nisi corporis, nemo culpa expedita illo delectus sed nulla facere ipsam aut perspiciatis aspernatur ex nihil similique dolores perferendis rerum. Ex omnis eveniet, dignissimos quisquam autem esse.</p>
      <p class="read-more js-read-more">
        <a href=""><span>Прочитај више</span> {% include "./components/inline-svg/arrow.html" -%}</a>
      </p>
      <div class="section-divider"></div>
    </section>
    
    <section id="section3">
      <h2>Простори</h2>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2><a href="prostor.html">Зграда БГБ</a></h2>
            <p>Налази се на првом спрату Библиотеке и права је мала галерија уметничких слика посвећених Београду. Назив је добила по централној слици – портрету Вука Караџића, раду Бете Вуксановић. </p>
            <p>
              <a href=""><span>Прочитај више</span> {% include "./components/inline-svg/arrow.html" -%}</a>
            </p>
          </div>
        </div>
      </article>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2><a href="prostor.html">Римска дворана</a></h2>
            <p>Налази се на првом спрату Библиотеке и права је мала галерија уметничких слика посвећених Београду. Назив је добила по централној слици – портрету Вука Караџића, раду Бете Вуксановић. </p>
            <p><a href=""><span>Прочитај више</span> {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
      </article>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2><a href="prostor.html">Галерија Атријум</a></h2>
            <p>Налази се на првом спрату Библиотеке и права је мала галерија уметничких слика посвећених Београду. Назив је добила по централној слици – портрету Вука Караџића, раду Бете Вуксановић.</p>
            <p><a href=""><span>Прочитај више</span> {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
      </article>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2><a href="prostor.html">Вукова сала</a></h2>
            <p>Налази се на првом спрату Библиотеке и права је мала галерија уметничких слика посвећених Београду. Назив је добила по централној слици – портрету Вука Караџића, раду Бете Вуксановић. </p>
            <p><a href=""><span>Прочитај више</span> {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
      </article>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2><a href="prostor.html">Читаоница Фонда уметности</a></h2>
            <p>Налази се на првом спрату Библиотеке и права је мала галерија уметничких слика посвећених Београду. Назив је добила по централној слици – портрету Вука Караџића, раду Бете Вуксановић.</p>
            <p><a href=""><span>Прочитај више</span> {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
        <div class="library__note">
          Напомена: Укупно 9 читаоница
        </div>
      </article>
    </section>
    <section id="section4">
      <div bp="grid" class="grid-gap--large@md grid-gap--medium@sm ">
        <div bp="6@lg 6@md">
          <h2 class="h1 zaposleni">Запослени</h2>
        </div>
        <div bp="6@lg 6@md" class="o-flex o-flex--justify-end">
          <input type="text" placeholder="Укуцајте име, презиме или звање запосленог" class="input input--search">
        </div>
      </div>
      <br>
      <div class="table-wrapper">
        <table class="table table--extend">
          <tr class="bgr-peach">
            <td>
              <p>Јасмина Нинков</p>
            </td>
            <td>
              <p>Директор</p>
            </td>
            <td><a href="" class="read-more js-read-more-table">{% include "./components/inline-svg/arrow.html" -%}</a></td>
          </tr>
          <tr class="hidden-content bgr-peach table--extend-content">
            <td colspan="3">
              <div class="employees-info">
                <span class="o-flex o-flex--center text-left"><img src="assets/images/lokacija-01.svg" alt=""> Кнез Михаилова 58, Београд</span>
                <span class="o-flex o-flex--center text-left"><img src="assets/images/telefon-01.svg" alt="">011 20 24 066</span>
                <span class="o-flex o-flex--center text-left"><img src="assets/images/email-01.svg" alt="">bgrbovic@bgb.rs</span>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <h2 class="h3">Сектор за библиотечку делатност</h2>
      <div class="section-divider"></div>
      <div class="table-wrapper">
        <table class="table table--extend table--employees">
          <tr>
            <td>
              <p>Марјан Маринковић</p>
            </td>
            <td>
              <p>Помоћник директора</p>
            </td>
            <td><a href="" class="read-more js-read-more-table">{% include "./components/inline-svg/arrow.html" -%}</a></td>
          </tr>
          <tr class="hidden-content table--extend-content">
            <td colspan="3">
              <div class="employees-info">
                <span class="o-flex o-flex--center text-left"><img src="assets/images/lokacija-01.svg" alt=""> Кнез Михаилова 58, Београд</span>
                <span class="o-flex o-flex--center text-left"><img src="assets/images/telefon-01.svg" alt="">011 20 24 066</span>
                <span class="o-flex o-flex--center text-left"><img src="assets/images/email-01.svg" alt="">bgrbovic@bgb.rs</span>
              </div>
            </td>
          </tr>
          <tr class="bgr-peach">
            <td>
              <p>Биљана Грбовић</p>
            </td>
            <td>
              <p>Библиотекар за набавку и инвентарисање библиотечке грађе <br> Одељење за набавку и обраду билбиотечке грађе</p>
            </td>
            <td><a href="" class="read-more js-read-more-table">{% include "./components/inline-svg/arrow.html" -%}</a></td>
          </tr>
          <tr class="hidden-content bgr-peach table--extend-content">
            <td colspan="3">
              <div class="employees-info">
                <span class="o-flex o-flex--center text-left"><img src="assets/images/lokacija-01.svg" alt=""> Кнез Михаилова 58, Београд</span>
                <span class="o-flex o-flex--center text-left"><img src="assets/images/telefon-01.svg" alt="">011 20 24 066</span>
                <span class="o-flex o-flex--center text-left"><img src="assets/images/email-01.svg" alt="">bgrbovic@bgb.rs</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <p>Оливера Калдесић</p>
            </td>
            <td>
              <p>Библиотекар за набавку и инвентарисање библиотечке грађе</p>
            </td>
            <td><a href="" class="read-more js-read-more-table">{% include "./components/inline-svg/arrow.html" -%}</a></td>
          </tr>
          <tr class="hidden-content table--extend-content">
            <td colspan="3">
              <div class="employees-info">
                <span class="o-flex o-flex--center text-left"><img src="assets/images/lokacija-01.svg" alt=""> Кнез Михаилова 58, Београд</span>
                <span class="o-flex o-flex--center text-left"><img src="assets/images/telefon-01.svg" alt="">011 20 24 066</span>
                <span class="o-flex o-flex--center text-left"><img src="assets/images/email-01.svg" alt="">bgrbovic@bgb.rs</span>
              </div>
            </td>
          </tr>
          <tr class="bgr-peach">
            <td>
              <p>Ружица Радосављевић</p>
            </td>
            <td>
              <p>Књижничар-инвентатор самостални</p>
            </td>
            <td><a href="" class="read-more js-read-more-table">{% include "./components/inline-svg/arrow.html" -%}</a></td>
          </tr>
          <tr class="hidden-content bgr-peach table--extend-content">
            <td colspan="3">
              <div class="employees-info">
                <span class="o-flex o-flex--center text-left"><img src="assets/images/lokacija-01.svg" alt=""> Кнез Михаилова 58, Београд</span>
                <span class="o-flex o-flex--center text-left"><img src="assets/images/telefon-01.svg" alt="">011 20 24 066</span>
                <span class="o-flex o-flex--center text-left"><img src="assets/images/email-01.svg" alt="">bgrbovic@bgb.rs</span>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <a href="" class="read-more">Прикажи све {% include "./components/inline-svg/arrow.html" -%}</a>
    </section>
    <div class="section-divider"></div>
    <section id="section5" class="board-of-directors">
      <h2 class="h3">Управни одбор</h2>
      <div>
        <table>
          <tr>
            <td>Председник:</td>
            <td>Милица Јотов</td>
          </tr>
          <tr>
            <td>Чланови:</td>
            <td>
              Милосав Ралић <br>
              Маринела Мирковић <br>
              Бојан Кундачина <br>
              Марина Неђић <br>
            </td>
          </tr>
        </table>
        <p class="board-of-directors__email"><a href="mailto:upravni.odbor@bgb.rs"><img src="assets/images/email-01.svg" alt=""> upravni.odbor@bgb.rs</a></p>
      </div>
    </section>
    <div class="section-divider"></div>
    <section id="section6">
      <h2 class="h3">Акти</h2>
      <br>
      <h3>Закони</h3>
      <div class="section-divider"></div>
      <div class="table-wrapper">
        <table class="table">
          <tr>
            <td colspan="2">
              <div class="employees-info">
                <a href="" class="download-link">Закон о култури <img src="assets/images/pdf_icon.png" alt=""></a> 
                <a href="" class="download-link">Закон о културним добрима <img src="assets/images/pdf_icon.png" alt=""></a>
              </div>
            </td>
          </tr>
          
        </table>
      </div>
      <h3>Упутства</h3>
      <div class="section-divider"></div>
      <div class="table-wrapper">
        <table class="table">
          <tr>
            <td colspan="2">
              <div class="employees-info">
                <a href="" class="download-link">Упутства о постављању аката <img src="assets/images/pdf_icon.png" alt=""></a>
              </div>
            </td>
          </tr>
          
        </table>
      </div>
      <h3>Правилници</h3>
      <div class="section-divider"></div>
      <div class="table-wrapper">
        <table class="table">
          <tr>
            <td colspan="2">
              <div class="employees-info">
                <a href="" class="download-link">Правила заштите од пожара <img src="assets/images/pdf_icon.png" alt=""></a>
              </div>
            </td>
          </tr>
          
        </table>
      </div>
    </section>
  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
