{% extends "layouts/default.html" %}

{% set projects = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "projects" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper wrapper--large">
    {{ allMacros.project('project-img1.png', 'Унапређење кључних грађанских компетенција у ери постистине: 
    медијска писменост и критичко мишљење
    ') }}
    {{ allMacros.project('project-img2.png', 'Креирање иновативних сервиса за промоцију културног наслеђа 
    у библиотекама') }}
    {{ allMacros.project('project-img1.png', 'Шта да читам? - Први српски библиотечки портал за препоруке 
    књига за читање') }}
    {{ allMacros.project('project-img1.png', 'Негујмо српски језик - Пројекат неговања српског језика, опште 
    језичке културе и писмености') }}
    {{ allMacros.project('project-img2.png', 'Креирање иновативних сервиса за промоцију културног наслеђа у 
    библиотекама') }}
    {{ allMacros.project('project-img1.png', 'Читам, ша шта? - Читај, пиши, цртај, победи!') }}
    {{ allMacros.project('project-img1.png', 'Новчићи - Постаните финансијски писмени или едукујте се у области 
    финансија') }}
    {{ allMacros.project('project-img2.png', 'Креирање иновативних сервиса за промоцију културног наслеђа у 
    библиотекама') }}
    <section class="all-links">
      {{ allMacros.titleLink('h2', 'Прикажи све пројекте', '#', true) }}
    </section>
  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
