{% extends "layouts/default.html" %}

{% set projects = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "projects" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper wrapper--large">
    projekti
    {{ allMacros.project('project-img1.jpg', 'Унапређење кључних грађанских компетенција у ери постистине: 
    медијска писменост и критичко мишљење') }}

  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
