{% extends "layouts/default.html" %}

{% set projects = true %}
{% set project = true %}
{% set masonry = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "project" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
    <div class="wrapper">
        <h2>Креирање иновативних сервиса за промоцију културног наслеђа у библиотекама</h2>
        <div class="project__social">
            <a href="#" class="social-icon"><img src="assets/images/fb-podeli-01.svg" alt=""></a>
            <a href="#" class="social-icon"><img src="assets/images/fb-svidjanje.svg" alt=""></a>
            <a href="#" class="social-icon"><img src="assets/images/twitter-podeli.svg" alt=""></a>
        </div>
        <p>Међународни пројекат Креирање иновативних сервиса за промоцију културног наслеђа у библиoтекама (Re-designing and co-creating innovative cultural heritage services through libraries – iTSELF) реализује се у оквиру програма Европске уније Еразмус+ (Кључна активност 2: Стратешка партнерства у образовању одраслих).</p>
        <p>Главни циљеви пројекта су утврђивање најбољих постојећих библиотечких сервиса/услуга у вези са културним наслеђем, као и креирање нових иновативних сервиса за промовисање културног наслеђа. Обука запослених и креирање, односно модификација постојећих сервиса  које би задовољиле потражњу и захтеве корисника јесу главни образовни задатак овог пројекта. Самим тим, циљ је и да се друштво што више укључи у идентификацију, чување и коришћење културног наслеђа, развијајући обуке и едукативне материјале за библиотеке, и чинећи их доступним на одговарајућој онлајн платформи (Massive Open Online Course – MOOC).</p>
        <p>Носилац пројекта је Национална библиотека Летоније. Партнери на пројекту су: Библиотека града Београда, Србија; Hacettepe universitesi, Турска; L’Université de Marne-la-Vallée, Француска; Tallinn University, Естонија; Фондација Stichting PRIME, Холандија.</p>
        <div class="section-divider"></div>
        <p>Вредност пројекта: 232.000,00 евра <br>Период реализације: 2018–2021. <br>Донатор: Европска унија (Еразмус+ програм)</p>
        <section>
            <div class="masonry-grid">

                <div class="masonry-grid__item">
                    <a href="#popup" class="js-openpopup">
                        <img src="assets/images/project-img-01.jpg" alt=""/>
                    </a>
                </div>
                
                <div class="masonry-grid__item">
                    <a href="#popup" class="js-openpopup">
                        <img src="assets/images/project-img-02.jpg" alt=""/>
                    </a>
                </div>

                <div class="masonry-grid__item">
                    <a href="#popup" class="js-openpopup">
                        <img src="assets/images/project-img-03.jpg" alt=""/>
                    </a>
                </div>
                
                <div class="masonry-grid__item">
                    <a href="#popup" class="js-openpopup">
                        <img src="assets/images/project-img-04.jpg" alt=""/>
                    </a>
                </div>
                
                <div class="masonry-grid__item">
                    <a href="#popup" class="js-openpopup">
                        <img src="assets/images/project-img-05.jpg" alt=""/>
                    </a>
                </div>

                <div class="masonry-grid__item">
                    <a href="#popup" class="js-openpopup">
                        <img src="assets/images/project-img-06.jpg" alt=""/>
                    </a>
                </div>
                
                <div class="masonry-grid__item">
                    <a href="#popup" class="js-openpopup">
                        <img src="assets/images/project-img-07.jpg" alt=""/>
                    </a>
                </div>

                <div class="masonry-grid__item">
                    <a href="#popup" class="js-openpopup">
                        <img src="assets/images/project-img-08.jpg" alt=""/>
                    </a>
                </div>          
            </div>
            <div class="magnific-popup mfp-hide magnific-animate main-slider-wrapper" id="popup">
                <div class="main-slider  js-popup-slider">
                    <div class="main-slider__item">
                        <img src="assets/images/project-img-01.jpg" alt=""/>
                    </div>
                    <div class="main-slider__item">
                        <img src="assets/images/project-img-02.jpg" alt=""/>
                    </div>
                    <div class="main-slider__item">
                        <img src="assets/images/project-img-03.jpg" alt=""/>
                    </div>
                    <div class="main-slider__item">
                        <img src="assets/images/project-img-04.jpg" alt=""/>
                    </div>
                    <div class="main-slider__item">
                        <img src="assets/images/project-img-05.jpg" alt=""/>
                    </div>
                    <div class="main-slider__item">
                        <img src="assets/images/project-img-06.jpg" alt=""/>
                    </div>
                    <div class="main-slider__item">
                        <img src="assets/images/project-img-07.jpg" alt=""/>
                    </div>
                    <div class="main-slider__item">
                        <img src="assets/images/project-img-08.jpg" alt=""/>
                    </div>
                </div>
                <div class="main-slider-arrows">
                    <button type="button" data-role="none" class="button slick-prev slick-arrow" aria-label="Previous" role="button">{% include "./components/inline-svg/arrow.html" -%}</button>
                    <button type="button" data-role="none" class="button slick-next slick-arrow" aria-label="Next" role="button">{% include "./components/inline-svg/arrow.html" -%}</button>
                </div>
            </div>
        </section>
    </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
