{% extends "layouts/default.html" %}

{% set vesti = true %}
{% set tab2 = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "vesti" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper">
    {{ allMacros.tabNavigation('kalendar-desavanja', 'desavanja-01', 'КАЛЕНДАР ДЕШАВАЊА', 'vesti', 'vesti-01', 'ВЕСТИ', false, true) }}

    {{ allMacros.newsEvent('ikonica-06', '1. октобар 2020.', 'Приче са путовања - из Римске дворане по целом свету', 'У четвртак, 15. октобра 2020, у галерији Градске библиотеке „Владислав Петковић Дис” у Чачку, отворена је изложба Библиотеке града Београда посвећена животу и делу Милорада Павића. Изложбу је отворила Јасмина Нинков, директорка Библиотеке града Београда') }}

    {{ allMacros.newsEvent('ikonica-07', '5. октобар 2020.', 'Додељена Награда „Ђорђе Јовановић“ за 2020. годину', 'У четвртак, 15. октобра 2020, у галерији Градске библиотеке „Владислав Петковић Дис” у Чачку, отворена је изложба Библиотеке града Београда посвећена животу и делу Милорада Павића. Изложбу је отворила Јасмина Нинков, директорка Библиотеке града Београда') }}
    {{ allMacros.newsEvent('ikonica-08', '15. октобар 2020.', 'Отворена изложба Милене Путник', 'У четвртак, 15. октобра 2020, у галерији Градске библиотеке „Владислав Петковић Дис” у Чачку, отворена је изложба Библиотеке града Београда посвећена животу и делу Милорада Павића. Изложбу је отворила Јасмина Нинков, директорка Библиотеке града Београда') }}

    {{ allMacros.newsEvent('ikonica-09', '25. октобар 2020.', 'Отворена изложба Теодоре Јовановић', 'У четвртак, 15. октобра 2020, у галерији Градске библиотеке „Владислав Петковић Дис” у Чачку, отворена је изложба Библиотеке града Београда посвећена животу и делу Милорада Павића. Изложбу је отворила Јасмина Нинков, директорка Библиотеке града Београда') }}

    {{ allMacros.newsEvent('ikonica-10', '30. октобар 2020.', 'Конференција за новинар', 'У четвртак, 15. октобра 2020, у галерији Градске библиотеке „Владислав Петковић Дис” у Чачку, отворена је изложба Библиотеке града Београда посвећена животу и делу Милорада Павића. Изложбу је отворила Јасмина Нинков, директорка Библиотеке града Београда') }}

    {{ allMacros.newsEvent('ikonica-11', '31. октобар 2020.', 'Додела награда', 'У четвртак, 15. октобра 2020, у галерији Градске библиотеке „Владислав Петковић Дис” у Чачку, отворена је изложба Библиотеке града Београда посвећена животу и делу Милорада Павића. Изложбу је отворила Јасмина Нинков, директорка Библиотеке града Београда') }}
  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
