{% extends "layouts/default.html" %}

{% set guide = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "guide" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper">
    {% include "./components/sub-navigation-vodic.html" -%}

    <div class="text-center">
      <img src="assets/images/vodic-img1.png" alt="">
    </div>

    <section id="section1">
      <h2>Учлањење</h2>
      <p>Корисници Библиотеке града Београда могу бити сви грађани Србије и страни држављани. Сваки корисник учлањује се лично уз приложену личну карту, а страни држављани уз пасош и у складу са Правилником о условима, начину коришћења и заштити библиотечке грађе Библиотеке града Београда.</p>
      <p>Уписом и добијањем чланске карте сваки корисник стиче право на коришћење свих фондова и услуга мреже Библиотеке града Београда.</p>
      {% include "./components/memberships.html" -%}
      <h3>Ваша чланска карта</h3>
      <p>Сваки корисник при упису добија чланску карту. Чланарина важи годину дана од датума уписа. Члан Библиотеке постаје се уплатом прописане чланарине и добијањем чланске карте. Приликом учлањења потребно је показати ваћежа документа (лична карта, избегличка легитимација, легитимација избеглих и расељених лица, а за стране држављане пасош и пријава боравка,).</p>
      <p>Чланска карта није преносива на друго лице.</p>
      <p>Страни држављани – корисници услуга Библиотеке могу позајмљвати  библиотечку грађу уколико се учлане и уплате депозит у висини која је утврђена важећим ценовником Библиотеке.</p>
      <p>Сваки члан Библиотеке дужан је да се придржава Правилника о условима, начину коришћења и заштити библиотечке грађе.</p>
    </section>
    <section id="section2">
      <h2>Позајмица</h2>
      <p>Са чланском картом корисници могу позајмљивати библиотечку грађу из свих одељења и библиотека које су у мрежи Библиотеке града Београда, уколико немају већ позајмљену грађу.</p>
      <p>Члан може позајмити до десет књига или друге библиотечке грађе на период од 20 дана.</p>
      <p>Корисник има право да продужи рок позајмице књига лично, телефоном (011 2024 011) или путем електронске поште, на адресу: korisnici.bgb@gmail.com.</p>
      <p class="hidden-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eum numquam fugiat alias voluptas repellendus consequuntur aperiam? Architecto sint ullam sapiente saepe corporis? Fugit ex delectus alias sint excepturi nam ut quaerat minus natus! Similique ut sint repellendus quae expedita quibusdam, vero voluptates cupiditate debitis aspernatur dolores! Deserunt facere blanditiis, nisi expedita tenetur assumenda mollitia ullam sunt repudiandae deleniti doloremque molestiae at architecto perspiciatis possimus illo. Odio, architecto numquam laboriosam accusantium expedita quibusdam corrupti, asperiores necessitatibus neque culpa, reprehenderit eius quasi doloribus? Culpa nobis blanditiis ipsum laborum vero? Obcaecati ex voluptatum omnis quod eius recusandae quia tenetur repellendus dicta quam.</p>
      <p class="read-more js-read-more">
        <a href="" ><span>Прочитај више</span> {% include "./components/inline-svg/arrow.html" -%}</a>
      </p>
    </section>
    <section id="section3">
      <h2>Резервација књиге</h2>
      <p>Ако књига или дигитална грађа коју желите да позајмите тренутно није на располагању, можете је резервисати.</p>
      <p>О приспећу резервисане грађе обавестићемо Вас телефоном или на вашу имејл адресу. Резервисану грађу можете подићи у року од три дана, након чега се резервација поништава .</p>
      <p class="hidden-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eum numquam fugiat alias voluptas repellendus consequuntur aperiam? Architecto sint ullam sapiente saepe corporis? Fugit ex delectus alias sint excepturi nam ut quaerat minus natus! Similique ut sint repellendus quae expedita quibusdam, vero voluptates cupiditate debitis aspernatur dolores! Deserunt facere blanditiis, nisi expedita tenetur assumenda mollitia ullam sunt repudiandae deleniti doloremque molestiae at architecto perspiciatis possimus illo. Odio, architecto numquam laboriosam accusantium expedita quibusdam corrupti, asperiores necessitatibus neque culpa, reprehenderit eius quasi doloribus? Culpa nobis blanditiis ipsum laborum vero? Obcaecati ex voluptatum omnis quod eius recusandae quia tenetur repellendus dicta quam.</p>
      <p class="read-more js-read-more">
        <a href=""><span>Прочитај више</span> {% include "./components/inline-svg/arrow.html" -%}</a>
      </p>
    </section>
    <section id="section4">
      <h2>Читаонице</h2>
      <p>Библиотека града Београда располаже великим бројем читаоница у Централној згради у Кнез Михаиловој 56, као и у већини својих огранака. У оквиру свих читаоница могуће је користити сопствене књиге, као и грађу Библиотеке. Овде можете погледати списак свих читаоница у мрежи са бројем места. (пдф са списком читаоничких места у мрежи БГБ)</p>
      <br>
      <br>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2>Читаоница опште референсне литературе</h2>

            <div bp="grid">
              <div bp="4@md">
                <p><span>Радни дан: 8 - 20</span><br>
                <span>Субота: 8 - 14</span></p>
                <p></p>
              </div>
              <div bp="5@md">
                <p><span>Кнез Михаилова 58</span><br>
                  <span>Београд</span></p>
              </div>
              <div bp="3@md">
                <p><span>info@bgb.rs</span><br>
                  <span>011/20 24 000</span></p>
              </div>
            </div>
            <p>Библиотека града Београда располаже великим бројем читаоница у Централној згради у Кнез Михаиловој 56, као и у већини својих огранака. У оквиру свих читаоница могуће је користити сопствене књиге, као и грађу Библиотеке.</p>
          <p class="hidden-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eum numquam fugiat alias voluptas repellendus consequuntur aperiam? Architecto sint ullam sapiente saepe corporis? Fugit ex delectus alias sint excepturi nam ut quaerat minus natus! Similique ut sint repellendus quae expedita quibusdam, vero voluptates cupiditate debitis aspernatur dolores! Deserunt facere blanditiis, nisi expedita tenetur assumenda mollitia ullam sunt repudiandae deleniti doloremque molestiae at architecto perspiciatis possimus illo. Odio, architecto numquam laboriosam accusantium expedita quibusdam corrupti, asperiores necessitatibus neque culpa, reprehenderit eius quasi doloribus? Culpa nobis blanditiis ipsum laborum vero? Obcaecati ex voluptatum omnis quod eius recusandae quia tenetur repellendus dicta quam.</p>
            <p class="read-more js-read-more"><a href=""><span>Прочитај више</span> {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
      </article>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2>Читаоница Фонда ументости</h2>

            <div bp="grid">
              <div bp="4@md">
                <p>Радни дан: 8 - 20</p>
                <p>Субота: 8 - 14</p>
              </div>
              <div bp="4@md">
                <p>Кнез Михаилова 58</p>
                <p>Београд</p>
              </div>
              <div bp="4@md">
                <p>info@bgb.rs</p>
                <p>011/20 24 000</p>
              </div>
            </div>
            <p>Читаоница Фонда уметности налази се на II спрату зграде Библиотеке града Београда у улици Кнез
              Михаиловој 56. Читаоница Фонда уметности заузима површину од око 250m2.</p>
            <p class="hidden-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eum numquam fugiat alias voluptas repellendus consequuntur aperiam? Architecto sint ullam sapiente saepe corporis? Fugit ex delectus alias sint excepturi nam ut quaerat minus natus! Similique ut sint repellendus quae expedita quibusdam, vero voluptates cupiditate debitis aspernatur dolores! Deserunt facere blanditiis, nisi expedita tenetur assumenda mollitia ullam sunt repudiandae deleniti doloremque molestiae at architecto perspiciatis possimus illo. Odio, architecto numquam laboriosam accusantium expedita quibusdam corrupti, asperiores necessitatibus neque culpa, reprehenderit eius quasi doloribus? Culpa nobis blanditiis ipsum laborum vero? Obcaecati ex voluptatum omnis quod eius recusandae quia tenetur repellendus dicta quam.</p>
            <p class="read-more js-read-more"><a href=""><span>Прочитај више</span> {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
        <div class="library__note">
          Напомена: Укупно 9 читаоница
        </div>
      </article>
    </section>
    <section id="section5">
      <div class="o-flex o-flex--justify">
        <h2>Ценовник</h2>
        <a href="assets/pdf/cenovnik.pdf" target="_blank" class="read-more text-right">Преузмите ценовник {% include "./components/inline-svg/arrow.html" -%}</a>
      </div>
      <div class="table-wrapper">
        <table class="table table--prices">
          <tr class="bgr-peach">
            <td rowspan="5">
              <p class="type-bold">ИНДИВИДУАЛНА чланарина</p>
              <p>Individual membership fee</p>
            </td>
          </tr>
          <tr class="bgr-peach">
            <td>
              <p class="type-bold">Одрасли</p>
              <p>Adults</p>
            </td>
            <td>
              <p>1500,00 дин. /RSD/</p>
            </td>
          </tr>
  
          <tr class="bgr-peach">
            <td>
              <p class="type-bold">Средњошколци (14-18 година)</p>
              <p>Highschool children (age 14-18)</p>
            </td>
            <td>
              <p>800,00 дин. /RSD/</p>
            </td>
          </tr>
  
          <tr class="bgr-peach">
            <td>
              <p class="type-bold">Деца до 14 година</p>
              <p>Children up to 14 years</p>
            </td>
            <td>
              <p>750,00 дин. /RSD</p>
            </td>
          </tr>
  
          <tr class="bgr-peach">
            <td>
              <p class="type-bold">Чланарина за СТРАНЕ ДРЖАВЉАНЕ</p>
              <p>Foreign citizens membership</p>
            </td>
            <td>
              <p>1500,00 дин. /RSD/</p>
            </td>
          </tr>
  
          <tr>
            <td rowspan="4">
              <p class="type-bold">КОЛЕКТИВНА чланарина <br>(најмање 10 чланова)</p>
              <p>Collective membership fee <br>(minimum 10 members)</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="type-bold">Одрасли</p>
              <p>Adults</p>
            </td>
            <td>
              <p>800,00 дин. /RSD/</p>
            </td>
          </tr>
  
          <tr>
            <td>
              <p class="type-bold">Средњошколци (14-18 година)</p>
              <p>Highschool children (age 14-18)</p>
            </td>
            <td>
              <p>400,00 дин. /RSD/</p>
            </td>
          </tr>
  
          <tr>
            <td>
              <p class="type-bold">Деца до 14 година</p>
              <p>Children up to 14 years</p>
            </td>
            <td>
              <p>400,00 дин. /RSD</p>
            </td>
          </tr>
  
          <tr class="bgr-peach">
            <td colspan="2"><p class="type-bold">ПОРОДИЧНО учлањење (по члану)</p><br><p>Family memebership fee (per family memeber)</p></td>
            <td><p>750,00 дин. /RSD/</p></td>
          </tr>
  
          <tr>
            <td colspan="2"><p class="type-bold">Чланарина за ПЕНЗИОНЕРЕ</p><br><p>Retired members</p></td>
            <td><p>600,00 дин. /RSD/</p></td>
          </tr>
          <tr>
            <td colspan="2"><p class="type-bold">- са СЕНИОР КАРТИЦОМ</p><br><p>with Senior card</p></td>
            <td><p>500,00 дин. /RSD/</p></td>
          </tr>
  
          <tr class="bgr-peach">
            <td rowspan="3"><p class="type-bold">МЕСЕЧНА чланарина <br>
              (коришћење читаонице)</p><p>Monthly membership fee <br>
                (using of the reading room)</p></td>
          </tr>
  
          <tr class="bgr-peach">
            <td><p class="type-bold">Држављани Србије</p><br><p>Serbian Citizens</p></td>
            <td><p>250,00 дин. /RSD/</p></td>
          </tr>
          <tr class="bgr-peach">
            <td><p class="type-bold">Страни држављани</p><br><p>Foreign Сitizen</p></td>
            <td><p>500,00 дин. /RSD/</p></td>
          </tr>
  
          <tr>
            <td><p class="type-bold">ПОПУСТИ</p><p>Reduced membership fee</p></td>
            <td>
              <p>EURO &lt;26</p>
              <p>ETC (Easy Travel Card kartice)</p>
              <p>Instituto Cervantes</p>
            </td>
            <td>
              <p>- 20 %</p>
              <p>- 20 %</p>
              <p>- 45 %</p>
            </td>
          </tr>
          <tr class="bgr-peach">
            <td colspan="2">
              <p class="type-bold">КАЗНА за прекорачење рока по књизи за 1 дан</p>
              <p>Overdue fines per item, per 1 day</p>
            </td>
            <td><p>10,00 дин. /RSD</p></td>
          </tr>
          <tr>
            <td><p class="type-bold">БЕСПЛАТНО учлањење</p><p>Free of charge membership</p></td>
            <td>
  
              <p>Деца предшколског узраста <br>Ученици првог разреда основне школе</p>
              <p>Добровољни даваоци крви <br>Особе са инвалидитетом и посебним потребама</p>
              <p>Особе старости преко 65 година</p>
            </td>
            <td>
              <p>150,00 дин. /RSD</p>
              <p>(трошкови израде
                трајне карте)</p>
            </td>
          </tr>
          <tr class="bgr-peach">
            <td colspan="2">
              <p class="type-bold">Чланарина за НЕЗАПОСЛЕНА лица</p>
              <p>Unemployed members</p>
            </td>
            <td><p>1.000,00 дин. /RSD/</p></td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="type-bold">РЕЗЕРВАЦИЈА књиге (по наслову)</p>
              <p>Book reservation (per title)</p>
            </td>
            <td><p>50,00 дин. /RSD/</p></td>
          </tr>
          <tr class="bgr-peach">
            <td colspan="2">
              <p class="type-bold">Издавање дупликата чланске карте</p>
              <p>Duplicate of membership card</p>
            </td>
            <td><p>250,00 дин. /RSD/</p></td>
          </tr>
          <tr>
            <td rowspan="3">
              <p class="type-bold">Претраживање базе података БГБ на задату тему</p>
              <p>Theme‐based database search</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="type-bold">До 4 записа</p>
              <p>Up to 4 records</p>
            </td>
            <td>
              <p>Бесплатно</p>
              <p>Free of charge</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="type-bold">5 и више (по запису)</p>
              <p>5 or more (per record)</p>
            </td>
            <td><p>50,00 дин. /RSD/</p></td>
          </tr>
  
        </table>
      </div>
      <p class="read-more"><a href="assets/pdf/cenovnik.pdf" target="_blank">Преузмите ценовник {% include "./components/inline-svg/arrow.html" -%}</a></p>
    </section>
  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
