{% extends "layouts/default.html" %}

{% set guide = true %}
{% set pagetitle = "Библиотека Града Београда" %}
{% set bodyClass = "guide" %}

{% block content %}
{% include "./components/header/header.html" -%}

<main>
  <div class="wrapper wrapper--large">
    {% include "./components/sub-navigation-vodic.html" -%}

    <img src="assets/images/vodic-img1.png" alt="">

    <section id="section1">
      <h2>Учлањење</h2>
      <p>Корисници Библиотеке града Београда могу бити сви грађани Србије и страни држављани. Сваки корисник учлањује се лично уз приложену личну карту, а страни држављани уз пасош и у складу са Правилником о условима, начину коришћења и заштити библиотечке грађе Библиотеке града Београда.</p>
      <p>Уписом и добијањем чланске карте сваки корисник стиче право на коришћење свих фондова и услуга мреже Библиотеке града Београда.</p>
      {% include "./components/memberships.html" -%}
      <h3>Ваша чланска карта</h3>
      <p>Сваки корисник при упису добија чланску карту. Чланарина важи годину дана од датума уписа. Члан Библиотеке постаје се уплатом прописане чланарине и добијањем чланске карте. Приликом учлањења потребно је показати ваћежа документа (лична карта, избегличка легитимација, легитимација избеглих и расељених лица, а за стране држављане пасош и пријава боравка,).</p>
      <p>Чланска карта није преносива на друго лице.</p>
      <p>Страни држављани – корисници услуга Библиотеке могу позајмљвати  библиотечку грађу уколико се учлане и уплате депозит у висини која је утврђена важећим ценовником Библиотеке.</p>
      <p>Сваки члан Библиотеке дужан је да се придржава Правилника о условима, начину коришћења и заштити библиотечке грађе.</p>
    </section>
    <section id="section2">
      <h2>Позајмица</h2>
      <p>Са чланском картом корисници могу позајмљивати библиотечку грађу из свих одељења и библиотека које су у мрежи Библиотеке града Београда, уколико немају већ позајмљену грађу.</p>
      <p>Члан може позајмити до десет књига или друге библиотечке грађе на период од 20 дана.</p>
      <p>Корисник има право да продужи рок позајмице књига лично, телефоном (011 2024 011) или путем електронске поште, на адресу: korisnici.bgb@gmail.com.</p>
      <p>
        <a href="">Прочитај више {% include "./components/inline-svg/arrow.html" -%}</a>
      </p>
    </section>
    <section id="section3">
      <h2>Резервација књиге</h2>
      <p>Ако књига или дигитална грађа коју желите да позајмите тренутно није на располагању, можете је резервисати.</p>
      <p>О приспећу резервисане грађе обавестићемо Вас телефоном или на вашу имејл адресу. Резервисану грађу можете подићи у року од три дана, након чега се резервација поништава .</p>
      <p>
        <a href="">Прочитај више {% include "./components/inline-svg/arrow.html" -%}</a>
      </p>
    </section>
    <section id="section4">
      <h2>Читаонице</h2>
      <p>Библиотека града Београда располаже великим бројем читаоница у Централној згради у Кнез Михаиловој 56, као и у већини својих огранака. У оквиру свих читаоница могуће је користити сопствене књиге, као и грађу Библиотеке. Овде можете погледати списак свих читаоница у мрежи са бројем места. (пдф са списком читаоничких места у мрежи БГБ)</p>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2>Читаоница опште референсне литературе</h2>

            <div bp="grid">
              <div bp="4@md">
                <p>Радни дан: 8 - 20</p>
                <p>Субота: 8 - 14</p>
              </div>
              <div bp="4@md">
                <p>Кнез Михаилова 58</p>
                <p>Београд</p>
              </div>
              <div bp="4@md">
                <p>info@bgb.rs</p>
                <p>011/20 24 000</p>
              </div>
            </div>
            <p>Библиотека града Београда располаже великим бројем читаоница у Централној згради у Кнез Михаиловој 56, као и у већини својих огранака. У оквиру свих читаоница могуће је користити сопствене књиге, као и грађу Библиотеке.</p>
            <p><a href="">Прочитај више {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
      </article>
      <article class="library library--reading-rooms">
        <div class="library__wrapper">
          <div class="library__img">
            <img src="assets/images/libraries/img1.jpg" alt="">
          </div>
          <div class="library__content">
            <h2>Читаоница Фонда ументости</h2>

            <div bp="grid">
              <div bp="4@md">
                <p>Радни дан: 8 - 20</p>
                <p>Субота: 8 - 14</p>
              </div>
              <div bp="4@md">
                <p>Кнез Михаилова 58</p>
                <p>Београд</p>
              </div>
              <div bp="4@md">
                <p>info@bgb.rs</p>
                <p>011/20 24 000</p>
              </div>
            </div>
            <p>Читаоница Фонда уметности налази се на II спрату зграде Библиотеке града Београда у улици Кнез
              Михаиловој 56. Читаоница Фонда уметности заузима површину од око 250m2.</p>
            <p><a href="">Прочитај више {% include "./components/inline-svg/arrow.html" -%}</a></p>
          </div>
        </div>
        <div class="library__note">
          Напомена: Укупно 9 читаоница
        </div>
      </article>
    </section>
    <section id="section5">
      <div class="o-flex o-flex--justify">
        <h2>Ценовник</h2>
        <a href="">Преузмите ценовник {% include "./components/inline-svg/arrow.html" -%}</a>
      </div>
        <table class="table">
          <tr>
            <td rowspan="4">
              <h3>ИНДИВИДУАЛНА чланарина</h3>
              <p>Individual membership fee</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Одрасли</p>
              <p>Adults</p>
            </td>
            <td>
              <p>1500,00 дин. /RSD/</p>
            </td>
          </tr>


          <tr>
            <td>
              <p>Средњошколци (14-18 година)</p>
              <p>Highschool children (age 14-18)</p>
            </td>
            <td>
              <p>800,00 дин. /RSD/</p>
            </td>
          </tr>

          <tr>
            <td>
              <p>Деца до 14 година</p>
              <p>Children up to 14 years</p>
            </td>
            <td>
              <p>750,00 дин. /RSD</p>
            </td>
          </tr>

          <tr>
            <td>
              <p>Чланарина за СТРАНЕ ДРЖАВЉАНЕ</p>
              <p>Foreign citizens membership</p>
            </td>
            <td>
              <p>1500,00 дин. /RSD/</p>
            </td>
          </tr>
        </table>
    </section>
  </div>
</main>
{% include "./components/footer/footer.html" -%}

{% endblock %}
