/* ------------------------------------*\
    #RESET
\*------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ------------------------------------*\
    #BOX-SIZING
\*------------------------------------ */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* ------------------------------------*\
    #PAGE
\*------------------------------------ */
html {
  min-height: 100vh;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400; }

address,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
hr,
table,
fieldset {
  margin-bottom: 20px; }

img {
  max-width: 100%; }

/* ------------------------------------*\
    #HEADINGS
\*------------------------------------ */
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit; }

/* ------------------------------------*\
    #link
\*------------------------------------ */
a {
  color: #000;
  transition: color .15s ease; }
  a:hover {
    color: black; }
  a:focus, a:active {
    outline: none;
    color: black; }

/* ------------------------------------*\
    #WRAPPER
\*------------------------------------ */
.wrapper {
  width: 100%;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (min-width: 1216px) {
    .wrapper {
      max-width: calc(1160px + (20px * 2));
      padding-right: 20px;
      padding-left: 20px; } }

/**
* Reset input styles.
*/
.input {
  -webkit-appearance: none;
  /* removing inner shadow on iOS inputs */
  -webkit-font-smoothing: inherit;
  box-sizing: border-box;
  transition: all .5s ease;
  background: none;
  border: none;
  color: #000;
  width: 100%;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  /* remove browser defaults */
  vertical-align: middle;
  width: 100%; }
  .input:invalid {
    box-shadow: none;
    /* fixes mozilla red outline (shadow) */ }
  .input[readonly] {
    cursor: text; }
  .input::-ms-clear {
    display: none;
    /* remove IE clear icon */ }
  .input:not(:disabled):focus {
    outline: none; }

.input--primary {
  height: 40px;
  padding: 20px;
  color: #000;
  display: flex;
  /**
   * @disabled
   */ }
  .input--primary:disabled {
    opacity: 0.5;
    cursor: not-allowed !important; }

.button {
  -webkit-font-smoothing: inherit;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #000;
  transition: background-color .2s ease, color .2s ease;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all .2s ease;
  background-color: transparent;
  cursor: pointer;
  font-family: Arial, sans-serif;
  text-decoration: none;
  line-height: 1; }
  .button:not(:disabled):active {
    outline: none;
    box-shadow: none !important;
    text-decoration: none; }
  .button:disabled {
    opacity: .5;
    cursor: not-allowed !important; }

.button--primary {
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: auto;
  padding: 0 20px;
  color: #000;
  font-size: 16px;
  text-decoration: none; }

/* ------------------------------------*\
    #TRUMPS - SPACING
\*------------------------------------ */
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
      * Margin helper classes.
      *
      * Add margins.
      */
.m {
  margin: 20px !important; }

.mt {
  margin-top: 20px !important; }

.mr {
  margin-right: 20px !important; }

.mb {
  margin-bottom: 20px !important; }

.ml {
  margin-left: 20px !important; }

.mh {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.mv {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

/**
      * Add extratiny margins.
      */
.m--- {
  margin: calc(20px/8) !important; }

.mt--- {
  margin-top: calc(20px/8) !important; }

.mr--- {
  margin-right: calc(20px/8) !important; }

.mb--- {
  margin-bottom: calc(20px/8) !important; }

.ml--- {
  margin-left: calc(20px/8) !important; }

.mh--- {
  margin-right: calc(20px/8) !important;
  margin-left: calc(20px/8) !important; }

.mv--- {
  margin-top: calc(20px/8) !important;
  margin-bottom: calc(20px/8) !important; }

/**
      * Add tiny margins.
      */
.m-- {
  margin: calc(20px/4) !important; }

.mt-- {
  margin-top: calc(20px/4) !important; }

.mr-- {
  margin-right: calc(20px/4) !important; }

.mb-- {
  margin-bottom: calc(20px/4) !important; }

.ml-- {
  margin-left: calc(20px/4) !important; }

.mh-- {
  margin-right: calc(20px/4) !important;
  margin-left: calc(20px/4) !important; }

.mv-- {
  margin-top: calc(20px/4) !important;
  margin-bottom: calc(20px/4) !important; }

/**
      * Add small margins.
      */
.m- {
  margin: calc(20px/2) !important; }

.mt- {
  margin-top: calc(20px/2) !important; }

.mr- {
  margin-right: calc(20px/2) !important; }

.mb- {
  margin-bottom: calc(20px/2) !important; }

.ml- {
  margin-left: calc(20px/2) !important; }

.mh- {
  margin-right: calc(20px/2) !important;
  margin-left: calc(20px/2) !important; }

.mv- {
  margin-top: calc(20px/2) !important;
  margin-bottom: calc(20px/2) !important; }

/**
      * Add large margins.
      */
.m\+ {
  margin: calc(20px*2) !important; }

.mt\+ {
  margin-top: calc(20px*2) !important; }

.mr\+ {
  margin-right: calc(20px*2) !important; }

.mb\+ {
  margin-bottom: calc(20px*2) !important; }

.ml\+ {
  margin-left: calc(20px*2) !important; }

.mh\+ {
  margin-right: calc(20px*2) !important;
  margin-left: calc(20px*2) !important; }

.mv\+ {
  margin-top: calc(20px*2) !important;
  margin-bottom: calc(20px*2) !important; }

/**
      * Add huge margins.
      */
.m\+\+ {
  margin: calc(20px*4) !important; }

.mt\+\+ {
  margin-top: calc(20px*4) !important; }

.mr\+\+ {
  margin-right: calc(20px*4) !important; }

.mb\+\+ {
  margin-bottom: calc(20px*4) !important; }

.ml\+\+ {
  margin-left: calc(20px*4) !important; }

.mh\+\+ {
  margin-right: calc(20px*4) !important;
  margin-left: calc(20px*4) !important; }

.mv\+\+ {
  margin-top: calc(20px*4) !important;
  margin-bottom: calc(20px*4) !important; }

/**
      * Remove margins.
      */
.m0 {
  margin: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mh0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

/**
      * Negative margins.
      */
.-m {
  margin: calc(20px*-1) !important; }

.-mt {
  margin-top: calc(20px*-1) !important; }

.-mr {
  margin-right: calc(20px*-1) !important; }

.-mb {
  margin-bottom: calc(20px*-1) !important; }

.-ml {
  margin-left: calc(20px*-1) !important; }

.-mh {
  margin-right: calc(20px*-1) !important;
  margin-left: calc(20px*-1) !important; }

.-mv {
  margin-top: calc(20px*-1) !important;
  margin-bottom: calc(20px*-1) !important; }

/**
      * Tiny negative margins.
      */
.-m-- {
  margin: calc(calc(20px/4)*-1) !important; }

.-mt-- {
  margin-top: calc(calc(20px/4)*-1) !important; }

.-mr-- {
  margin-right: calc(calc(20px/4)*-1) !important; }

.-mb-- {
  margin-bottom: calc(calc(20px/4)*-1) !important; }

.-ml-- {
  margin-left: calc(calc(20px/4)*-1) !important; }

.-mh-- {
  margin-right: calc(calc(20px/4)*-1) !important;
  margin-left: calc(calc(20px/4)*-1) !important; }

.-mv-- {
  margin-top: calc(calc(20px/4)*-1) !important;
  margin-bottom: calc(calc(20px/4)*-1) !important; }

/**
      * Small negative margins.
      */
.-m- {
  margin: calc(calc(20px/2)*-1) !important; }

.-mt- {
  margin-top: calc(calc(20px/2)*-1) !important; }

.-mr- {
  margin-right: calc(calc(20px/2)*-1) !important; }

.-mb- {
  margin-bottom: calc(calc(20px/2)*-1) !important; }

.-ml- {
  margin-left: calc(calc(20px/2)*-1) !important; }

.-mh- {
  margin-right: calc(calc(20px/2)*-1) !important;
  margin-left: calc(calc(20px/2)*-1) !important; }

.-mv- {
  margin-top: calc(calc(20px/2)*-1) !important;
  margin-bottom: calc(calc(20px/2)*-1) !important; }

/**
      * Large negative margins.
      */
.-m\+ {
  margin: calc(calc(20px*2)*-1) !important; }

.-mt\+ {
  margin-top: calc(calc(20px*2)*-1) !important; }

.-mr\+ {
  margin-right: calc(calc(20px*2)*-1) !important; }

.-mb\+ {
  margin-bottom: calc(calc(20px*2)*-1) !important; }

.-ml\+ {
  margin-left: calc(calc(20px*2)*-1) !important; }

.-mh\+ {
  margin-right: calc(calc(20px*2)*-1) !important;
  margin-left: calc(calc(20px*2)*-1) !important; }

.-mv\+ {
  margin-top: calc(calc(20px*2)*-1) !important;
  margin-bottom: calc(calc(20px*2)*-1) !important; }

/**
      * Huge negative margins.
      */
.-m\+\+ {
  margin: calc(calc(20px*4)*-1) !important; }

.-mt\+\+ {
  margin-top: calc(calc(20px*4)*-1) !important; }

.-mr\+\+ {
  margin-right: calc(calc(20px*4)*-1) !important; }

.-mb\+\+ {
  margin-bottom: calc(calc(20px*4)*-1) !important; }

.-ml\+\+ {
  margin-left: calc(calc(20px*4)*-1) !important; }

.-mh\+\+ {
  margin-right: calc(calc(20px*4)*-1) !important;
  margin-left: calc(calc(20px*4)*-1) !important; }

.-mv\+\+ {
  margin-top: calc(calc(20px*4)*-1) !important;
  margin-bottom: calc(calc(20px*4)*-1) !important; }

/**
      * Padding helper classes.
      *
      * Add paddings.
      */
.p {
  padding: 20px !important; }

.pt {
  padding-top: 20px !important; }

.pr {
  padding-right: 20px !important; }

.pb {
  padding-bottom: 20px !important; }

.pl {
  padding-left: 20px !important; }

.ph {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.pv {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

/**
      * Add tiny paddings.
      */
.p-- {
  padding: calc(20px/4) !important; }

.pt-- {
  padding-top: calc(20px/4) !important; }

.pr-- {
  padding-right: calc(20px/4) !important; }

.pb-- {
  padding-bottom: calc(20px/4) !important; }

.pl-- {
  padding-left: calc(20px/4) !important; }

.ph-- {
  padding-right: calc(20px/4) !important;
  padding-left: calc(20px/4) !important; }

.pv-- {
  padding-top: calc(20px/4) !important;
  padding-bottom: calc(20px/4) !important; }

/**
      * Add small paddings.
      */
.p- {
  padding: calc(20px/2) !important; }

.pt- {
  padding-top: calc(20px/2) !important; }

.pr- {
  padding-right: calc(20px/2) !important; }

.pb- {
  padding-bottom: calc(20px/2) !important; }

.pl- {
  padding-left: calc(20px/2) !important; }

.ph- {
  padding-right: calc(20px/2) !important;
  padding-left: calc(20px/2) !important; }

.pv- {
  padding-top: calc(20px/2) !important;
  padding-bottom: calc(20px/2) !important; }

/**
      * Add large paddings.
      */
.p\+ {
  padding: calc(20px*2) !important; }

.pt\+ {
  padding-top: calc(20px*2) !important; }

.pr\+ {
  padding-right: calc(20px*2) !important; }

.pb\+ {
  padding-bottom: calc(20px*2) !important; }

.pl\+ {
  padding-left: calc(20px*2) !important; }

.ph\+ {
  padding-right: calc(20px*2) !important;
  padding-left: calc(20px*2) !important; }

.pv\+ {
  padding-top: calc(20px*2) !important;
  padding-bottom: calc(20px*2) !important; }

/**
      * Add huge paddings.
      */
.p\+\+ {
  padding: calc(20px*4) !important; }

.pt\+\+ {
  padding-top: calc(20px*4) !important; }

.pr\+\+ {
  padding-right: calc(20px*4) !important; }

.pb\+\+ {
  padding-bottom: calc(20px*4) !important; }

.pl\+\+ {
  padding-left: calc(20px*4) !important; }

.ph\+\+ {
  padding-right: calc(20px*4) !important;
  padding-left: calc(20px*4) !important; }

.pv\+\+ {
  padding-top: calc(20px*4) !important;
  padding-bottom: calc(20px*4) !important; }

/**
      * Remove paddings.
      */
.p0 {
  padding: 0 !important; }

.pt0 {
  padding-top: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.ph0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

/*# sourceMappingURL=app.css.map */
