/* ------------------------------------*\
    #link
\*------------------------------------ */

a {
  color: $color-link;
  transition: color 0.15s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  &:hover {
    color: darken($color-link, 20%);
  }

  &:focus,
  &:active {
    outline: none;
    color: darken($color-link, 20%);
  }
}


.download-link {
  color: $color-text;
  flex-direction: row-reverse;
  text-align: left;
  justify-content: flex-end;
  margin-bottom: 20px;
  
  &:hover {
    color: $color-peach;
  }
  img {
    margin-right: 20px;
    width: 60px;
  }
  
  @include min-screen($breakpoint-small) {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
    
    img {
      margin-right: 0;
      margin-left: 20px;
    }
  }
}

.all-links {
  padding: 50px 0;
}