/* ------------------------------------*\
    #PAGE
\*------------------------------------ */

html {
  min-height: 100vh;
  color: $color-text;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
}

address,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
hr,
table,
fieldset {
  margin-bottom: $spacing-unit;
}

img {
  max-width: 100%;
}

section {
  padding: 40px 0;

  @include min-screen($breakpoint-medium) {
    padding: 80px 0;
  }
}

.guide {
  section {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
  }
}
