<div class="main-slider-wrapper">
    <div class="main-slider js-main-slider">
        <div class="main-slider__item">
            <div class="main-slider__item-content" style="background-color: #6699CC;">
                <div class="main-slider__item-overflow">
                    <h2><a href="vest.html">Обележен 90. рођендан Библиотеке града Београда</a></h2>
                    <p class="main-slider__regular-text">Библиотека града Београда обележила је у понедељак, 11. јануара 2021. године, 90 година постојања. Том приликом додељене су награде „Марија Илић Агапова”</p>
                    <p class="main-slider__read-more"><a href="">Прочитај више ...</a></p>
                </div>
            </div>
            <div class="main-slider__item-image" style="background-image: url('assets/images/slider-img2.JPG')">
            </div>
        </div>
        <div class="main-slider__item">
            <div class="main-slider__item-content">
                <div class="main-slider__item-overflow">
                    <h2><a href="vest.html">Стручни скуп у Народној библиотеци у Краљеву</a></h2>
                    <p class="main-slider__regular-text">Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim
    veniam, quis nostrud</p>
                    <p class="main-slider__read-more"><a href="">Прочитај више ...</a></p>
                </div>
            </div>
            <div class="main-slider__item-image" style="background-image: url('assets/images/slider-img1.jpg')">
            </div>
        </div>
        <div class="main-slider__item">
            <div class="main-slider__item-content" style="background-color: #99CC66;">
                <div class="main-slider__item-overflow">
                    <h2><a href="vest.html">Обележен 90. рођендан Библиотеке града Београда</a></h2>
                    <p class="main-slider__regular-text">Библиотека града Београда обележила је у понедељак, 11. јануара 2021. године, 90 година постојања. Том приликом додељене су награде „Марија Илић Агапова”</p>
                    <p class="main-slider__read-more"><a href="">Прочитај више ...</a></p>
                </div>
            </div>
            <div class="main-slider__item-image" style="background-image: url('assets/images/slider-img3.JPG')">
            </div>
        </div>
    </div>
    <div class="main-slider-arrows">
        <button type="button" data-role="none" class="button slick-prev slick-arrow" aria-label="Previous" role="button">{% include "../inline-svg/arrow.html" -%}</button>
        <button type="button" data-role="none" class="button slick-next slick-arrow" aria-label="Next" role="button">{% include "../inline-svg/arrow.html" -%}</button>
    </div>
</div>