<div class="navigation-slider-wrapper">
    <div class="navigation-slider js-navigation-slider">
        <div class="navigation-slider__item">
            <a href="">
                Дечја одељења
            </a>
        </div>
        <div class="navigation-slider__item">
            <a href="">
                Фонд периодике
            </a>
        </div>
        <div class="navigation-slider__item">
            <a href="">
                Завичајно одељење
            </a>
        </div>
        <div class="navigation-slider__item">
            <a href="">
                Амерички кутак
            </a>
        </div>
        <div class="navigation-slider__item">
            <a href="">
                Централна библиотека
            </a>
        </div>
        <div class="navigation-slider__item">
            <a href="">
                Дечја одељења
            </a>
        </div>
        <div class="navigation-slider__item">
            <a href="">
                Фонд периодике
            </a>
        </div>
        <div class="navigation-slider__item">
            <a href="">
                Завичајно одељење
            </a>
        </div>
        <div class="navigation-slider__item">
            <a href="">
                Амерички кутак
            </a>
        </div>
        <div class="navigation-slider__item">
            <a href="">
                Централна библиотека
            </a>
        </div>
    </div>
    <div class="navigation-slider-arrows">
        <button type="button" data-role="none" class="button slick-prev slick-arrow" aria-label="Previous" role="button">{% include "../inline-svg/arrow.html" -%}</button>
        <button type="button" data-role="none" class="button slick-next slick-arrow" aria-label="Next" role="button">{% include "../inline-svg/arrow.html" -%}</button>
    </div>
</div>
    