.grid-gap--large\@md {

    @include min-screen($breakpoint-medium) {
        grid-gap: 90px;
    }
}

.grid-gap--medium\@sm {

    @include min-screen($breakpoint-small) {
        grid-gap: 30px;
    }
}

.grid-gap--no-gap {
    grid-gap: 0;
}