{% macro arrow(src, customClass, href, arrowUp) %}

  {% if arrowUp %}
    <a class="arrow arrow--up {{ customClass }}" href="{{ href }}">
      <img src="assets/img/{{ src }}.svg" alt="">
    </a>
  {% else %}
    <a class="arrow {{ customClass }}" href="{{ href }}">
      <img src="assets/img/{{ src }}.svg" alt="">
    </a>
  {% endif %}

{% endmacro %}

{% macro thumbImg(href, text, imgSrc) %}
  <a href="{{ href }}" class="thumb-link">
    <p class="thumb-link__text">{{ text }}</p>
    <img class="thumb-link__img" src="assets/images/{{ imgSrc }}" alt="">
  </a>
{% endmacro %}

{% macro titleLink(heading, title, href, arrow) %}
  {% if heading %}
    <{{heading}} class="title-link"><a href="{{href}}">
  {% else %}
    <h2 class="title-link"><a href="{{href}}">
  {% endif %}
  {{title}}
  {% if arrow %}
  <!-- {% include "../components/inline-svg/arrow.html" -%} -->
  {% endif%}
  </a>
  {% if heading %}
    </{{heading}}>
  {% else %}
    </h2>
  {% endif %}
{% endmacro %}

{% macro socialIcon(href, icon) %}
  <a href="{{href}}" class="social-icon"><img src="assets/images/{{icon}}" alt=""></a>
{% endmacro %}

  {% macro event(time, title, location, href, participants ) %}
  <a href="{{ href }}" class="event">
    <time class="event__date">{{ time }}</time>
    <p class="event__location">{{location}}</p>
    <h3 class="event__title">{{title}}</h3>
    <p class="event__participants ">{{participants}}</p>
  </a>
  {% endmacro %}

  {% macro eventNews(title, href) %}
  <a href="{{ href }}" class="event mb">
    <h3 class="event__title">{{title}}</h3>
  </a>
  {% endmacro %}

  {% macro project(imgSrc, title) %}
  <a href="projekat.html" class="single-project">
    <div class="single-project__img" style="background-image: url('assets/images/{{ imgSrc }}')"><img src="assets/images/{{ imgSrc }}" alt=""></div>
    <p class="single-project__title">{{title}}</p>
  </a>
  {% endmacro %}

  {% macro exhibition(imgSrc, title, authorTitle, authorText, designTitle, designText, info) %}
  <article class="exhibition">
    <div class="exhibition__img"><img src="assets/images/{{ imgSrc }}" alt=""></div>
    <div class="exhibition__content">
      <div>
          <h2 class="exhibition__title">{{title}}</h2>
          <div class="social">
            <a href="{{href}}" class="social-icon"><img src="assets/images/fb-podeli-01.svg" alt=""></a>
            <a href="{{href}}" class="social-icon"><img src="assets/images/fb-svidjanje.svg" alt=""></a>
            <a href="{{href}}" class="social-icon"><img src="assets/images/twitter-podeli.svg" alt=""></a>
          </div>
      </div>
      <div>
        <div class="exhibition__author">
          <h3>{{authorTitle}}</h3>
          <p>{{authorText}}</p>
        </div>
        <div class="exhibition__design">
          <h3>{{designTitle}}</h3>
          <p>{{designText}}</p>
        </div>
        <div class="exhibition__info">
          <p>{{info}}</p>
        </div>
      </div>
    </div>
  </article>
{% endmacro %}


{% macro membershipsItem(imgSrc, title, tooltipPosition) %}
<article class="memberships__item tooltip-trigger">
  <img src="assets/images/{{imgSrc}}" alt="" class="memberships__item-img">
  <h3 class="memberships__item-title">{{title}}</h3>

  <div class="memberships__item-tooltip tooltip tooltip--{{tooltipPosition}}">
    <h3>
      Бесплатно учлањење
    </h3>
    <ul class="list list--dotted">
      <li>
        деца предшколског узраста
      </li>
      <li>
        ученици првог разреда основне школе
      </li>
      <li>
        добровољни даваоци крви
      </li>
      <li>
        особе са инвалидитетом и посебним потребама
      </li>
      <li>
        особе старије од 65 година
      </li>
    </ul>
    <p class="type-bold text-regular">
      За упис је потребно донети следеће:
    </p>
    <ul class="list list--arrow">
      <li>
        150,00 динара (трошкови штампе)
      </li>
      <li>
        фотографију 3,5 х 3 cm
      </li>
      <li>
        личну карту или пасош
      </li>
    </ul>
  </div>
</article>
{% endmacro %}

{% macro exhibitions(imgSrc, title, year) %}
  <article class="exhibitions-article editions-article">
    <a href="izlozba.html">
      <div class="exhibitions__img"><img src="assets/images/{{ imgSrc }}" alt=""></div>
      <h2 class="exhibitions__title">{{title}}</h2>
      <p>{{year}}</p>
    </a>
  </article> 
  {% endmacro %}

  {% macro editions(imgSrc, title, editor1, editor2, editor3) %}
  <article class="exhibitions-article editions-article">
    <a href="knjiga.html">
      <div class="exhibitions__img"><img src="assets/images/{{ imgSrc }}" alt=""></div>
      <h2 class="exhibitions__title">{{title}}</h2>
      <p>{{editor1}}</p>
      <p>{{editor2}}</p>
      <p>{{editor3}}</p>
    </a>
  </article> 
  {% endmacro %}

  {% macro tabNavigation(url1, icon1, tab1, url2, icon2, tab2, firstActive, secondActive) %}
    <nav class="tab-navigation">
      <a href="{{ url1 }}.html" {% if firstActive %} class="is-active" {% endif %}><img src="assets/images/{{icon1}}.svg" alt=""><span>{{ tab1 }}</span></a>
      <div class="tab-navigation__separator"></div>
      <a href="{{ url2 }}.html" {% if secondActive %} class="is-active" {% endif %}><img src="assets/images/{{icon2}}.svg" alt=""><span>{{ tab2 }}</span></a>
    </nav>
  {% endmacro %}

  {% macro calendarEvent(imgSrc, title, subtitle, date, text, customClass) %}
    <article class="calendar-event {{customClass}}">
      <div class="calendar-event__image">
        <img src="assets/images/calendar/{{imgSrc}}.svg" alt="">
        <div class="calendar-event__social">
          <a href="#" class="social-icon"><img src="assets/images/fb-podeli-01.svg" alt=""></a>
          <a href="#" class="social-icon"><img src="assets/images/fb-svidjanje.svg" alt=""></a>
          <a href="#" class="social-icon"><img src="assets/images/twitter-podeli.svg" alt=""></a>
        </div>
      </div>
      <div class="calendar-event__content">
        <h2>{{ title }}</h2>
        <h3 class="h5">{{ subtitle }}</h3>
        <time>{{ date }}</time>

        <h4>Учесници</h4>
        <p>{{ text }}</p>
        <p class="hidden-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure facilis animi architecto laborum corporis! Optio accusantium totam nihil asperiores porro sunt alias doloribus recusandae. Molestias atque nisi fugit vitae eveniet quia quod quam dolores, veritatis asperiores, vero ipsa voluptate laboriosam maxime natus accusamus voluptatibus labore incidunt. Temporibus, sequi hic accusamus aperiam et modi, ad repudiandae sunt quae cumque, mollitia deserunt maxime possimus. Ipsum laboriosam explicabo quae tempore iusto pariatur architecto? Deleniti incidunt autem, nisi corporis, nemo culpa expedita illo delectus sed nulla facere ipsam aut perspiciatis aspernatur ex nihil similique dolores perferendis rerum. Ex omnis eveniet, dignissimos quisquam autem esse.</p>
        <!-- <p class="read-more js-read-more">
          <a href="">Прочитај више {% include "../components/inline-svg/arrow.html" -%}</a>

        </p> -->
        <p class="read-more js-read-more"><a href=""><span>Прочитај више</span> <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="26.694px" height="15.714px" viewBox="0 0 26.694 15.714" enable-background="new 0 0 26.694 15.714" xml:space="preserve">
<g>
  <path fill="currentColor" d="M22.816,7.852l-4.866,4.866V8.206H3.878V7.508H17.95V2.996L22.816,7.852z"/>
</g>
</svg></a></p>
      </div>
    </article>
  {% endmacro %}
  
  {% macro calendarEventSimple(imgSrc, date, title, customClass) %}
    <article class="calendar-event {{customClass}}">
      <div class="calendar-event__image">
        <img src="assets/images/calendar/{{imgSrc}}.svg" alt="">
      </div>
      <div class="calendar-event__content">
        <time>{{ date }}</time>
        <br>
        <p>{{ title }}</p>
      </div>
    </article>
  {% endmacro %}
  
  {% macro librarySections(title) %}
    <article class="library-sections">
      <h2 class="library-sections__heading">{{ title }}</h2>
      <div class="library-sections__content" bp="grid">
        <div bp="6@lg 6@md" class="library-sections__item">
          <div class="contact-element">
            <div class="contact-element__icon"><img src="assets/images/clock.svg" alt=""></div>
            <div class="contact-element__content">Радни дан: 8 - 20 <br>Субота: 8 - 14</div>
          </div>
        </div>
        <div bp="6@lg 6@md" class="library-sections__item">
          <div class="contact-element">
            <div class="contact-element__icon"><img src="assets/images/lokacija-01.svg" alt=""></div>
            <div class="contact-element__content">Миријевски венац 4</div>
          </div>
        </div>
        <div bp="6@lg 6@md" class="library-sections__item">
          <div class="contact-element">
            <div class="contact-element__icon"><img src="assets/images/telefon-01.svg" alt=""></div>
            <div class="contact-element__content">011/34 29 303</div>
          </div>
        </div>
        <div bp="6@lg 6@md" class="library-sections__item">
          <div class="contact-element">
            <div class="contact-element__icon"><img src="assets/images/email-01.svg" alt=""></div>
            <div class="contact-element__content">info@bgb.rs</div>
          </div>
        </div>
      </div>
    </article>
  {% endmacro %}

  {% macro newsEvent(imgSrc, date, title, text) %}
  <article class="news-event">
    <div class="news-event__image">
      <img src="assets/images/calendar/{{imgSrc}}.svg" alt="">
    </div>
    <div class="news-event__content">
      <time>{{ date }}</time>
      <h2>{{ title }}</h2>
      <p>{{ text }}</p>
      <p>
        <a href="vest.html">Прочитај више {% include "../components/inline-svg/arrow.html" -%}</a>
      </p>
    </div>
  </article>
{% endmacro %}