{% macro arrow(src, customClass, href, arrowUp) %}

  {% if arrowUp %}
    <a class="arrow arrow--up {{ customClass }}" href="{{ href }}">
      <img src="assets/img/{{ src }}.svg" alt="">
    </a>
  {% else %}
    <a class="arrow {{ customClass }}" href="{{ href }}">
      <img src="assets/img/{{ src }}.svg" alt="">
    </a>
  {% endif %}

{% endmacro %}

{% macro thumbImg(href, text, imgSrc) %}
  <a href="{{ href }}" class="thumb-link">
    <p class="thumb-link__text">{{ text }}</p>
    <img class="thumb-link__img" src="assets/images/{{ imgSrc }}" alt="">
  </a>
{% endmacro %}

{% macro event(time, title, location) %}
  <article class="event">
    <time class="event__date">{{ time }}</time>
    <h3 class="event__title">{{title}}</h3>
    <p class="event__location">{{location}}</p>
  </article>
{% endmacro %}

{% macro titleLink(heading, title, href, arrow) %}
  {% if heading %}
    <{{heading}} class="title-link"><a href="{{href}}">
  {% else %}
    <h2 class="title-link"><a href="{{href}}">
  {% endif %}
  {{title}}
  {% if arrow %}
  {% include "../components/inline-svg/arrow.html" -%}
  {% endif%}
  </a>
  {% if heading %}
    </{{heading}}>
  {% else %}
    </h2>
  {% endif %}
{% endmacro %}

{% macro socialIcon(href, icon) %}
  <a href="{{href}}" class="social-icon"><img src="assets/images/{{icon}}" alt=""></a>
  {% endmacro %}

  {% macro event(time, title, location) %}
  <article class="event">
    <time class="event__date">{{ time }}</time>
    <h3 class="event__title">{{title}}</h3>
    <p class="event__location">{{location}}</p>
  </article>
  {% endmacro %}

  {% macro project(imgSrc, title) %}
  <article class="project">
    <div class="project__img" style="background-image: url('assets/images/{{ imgSrc }}')"><img src="assets/images/{{ imgSrc }}" alt=""></div>
    <h2 class="project__title">{{title}}</h2>
  </article>
  {% endmacro %}

  {% macro exhibition(imgSrc, title, authorTitle, authorText, designTitle, designText, info) %}
  <article class="exhibition">
    <div class="exhibition__img"><img src="assets/images/{{ imgSrc }}" alt=""></div>
    <div class="exhibition__content">
      <div>
          <h2 class="exhibition__title">{{title}}</h2>
          <div class="social">
            <a href="{{href}}" class="social-icon"><img src="assets/images/fb-podeli-01.svg" alt=""></a>
            <a href="{{href}}" class="social-icon"><img src="assets/images/fb-svidjanje.svg" alt=""></a>
            <a href="{{href}}" class="social-icon"><img src="assets/images/twitter-podeli.svg" alt=""></a>
          </div>
      </div>
      <div>
        <div class="exhibition__author">
          <h3>{{authorTitle}}</h3>
          <p>{{authorText}}</p>
        </div>
        <div class="exhibition__design">
          <h3>{{designTitle}}</h3>
          <p>{{designText}}</p>
        </div>
        <div class="exhibition__info">
          <p>{{info}}</p>
        </div>
      </div>
    </div>
  </article>
{% endmacro %}


{% macro membershipsItem(imgSrc, title, tooltipPosition) %}
<article class="memberships__item tooltip-trigger">
  <img src="assets/images/{{imgSrc}}" alt="" class="memberships__item-img">
  <h3 class="memberships__item-title">{{title}}</h3>

  <div class="memberships__item-tooltip tooltip tooltip--{{tooltipPosition}}">
    <h3>
      Бесплатно учлањење
    </h3>
    <ul class="list list--dotted">
      <li>
        деца предшколског узраста
      </li>
      <li>
        ученици првог разреда основне школе
      </li>
      <li>
        добровољни даваоци крви
      </li>
      <li>
        особе са инвалидитетом и посебним потребама
      </li>
      <li>
        особе старије од 65 година
      </li>
    </ul>
    <p class="type-bold text-regular">
      За упис је потребно донети следеће:
    </p>
    <ul class="list list--arrow">
      <li>
        150,00 динара (трошкови штампе)
      </li>
      <li>
        фотографију 3,5 х 3 cm
      </li>
      <li>
        личну карту или пасош
      </li>
    </ul>
  </div>
</article>
{% endmacro %}

{% macro exhibitions(imgSrc, title, year) %}
  <article class="exhibitions-article editions-article">
    <a href="izlozba.html">
      <div class="exhibitions__img"><img src="assets/images/{{ imgSrc }}" alt=""></div>
      <h2 class="exhibitions__title">{{title}}</h2>
      <p>{{year}}</p>
    </a>
  </article> 
  {% endmacro %}

  {% macro editions(imgSrc, title, editor1, editor2, editor3) %}
  <article class="exhibitions-article editions-article">
    <a href="izlozba.html">
      <div class="exhibitions__img"><img src="assets/images/{{ imgSrc }}" alt=""></div>
      <h2 class="exhibitions__title">{{title}}</h2>
      <p>{{editor1}}</p>
      <p>{{editor2}}</p>
      <p>{{editor3}}</p>
    </a>
  </article> 
  {% endmacro %}
